.down_modal {
    .modal-header {
        justify-content: center;
        text-align: center;
    }

    .modal-body {
        .method {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 30px;

            .box {
                width: 35%;
                text-align: center;

                .title {
                    margin-bottom: 15px;

                    font: {
                        size: 16px;
                        weight: 700;
                    }

                    color: var(--main-color);
                }

                &.left {
                    .link_con {
                        .link {
                            position: relative;
                            margin-bottom: 15px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &.app {}

                            &.play {}

                            a {
                                display: block;
                                padding: 15px 10px;
                                border-radius: 30px;
                                background-color: var(--main-color);

                                font: {
                                    size: 14px;
                                    weight: 500;
                                }

                                color: #fff;
                            }
                        }
                    }
                }

                &.right {
                    .img_con {
                        .qr {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}