:root {
  --gray: #585e65;
  --gray1: #abb5be;
  --gray2: #9ea4ab;
  --primary: #ff9636;
  --primary-light: rgba(51, 102, 204, 0.08);
  --primary-hover: #ff6e30;
  --dark: #1a1a1a;
  --dark-hover: #000000;
  --text: #000000;
  --border: #e3e3e3;
  --font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.btn-block {
  display: block;
  width: 100%;
}
