@charset "UTF-8";
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 초기화 및 초기 세팅 */
:root {
  /* 버튼 및 인풋 폼 높이 세팅 */
  --hd_height: 9rem;
  --hd_height_m: 7rem;
  --height_sm: 3.2rem;
  --height_md: 4.2rem;
  --height: 4.8rem;
  --height_lg: 5rem;
  --ic_date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='ic_calenda' transform='translate(-0.214)'%3E%3Crect id='사각형_9174' data-name='사각형 9174' width='25' height='25' transform='translate(0.214)' fill='none'/%3E%3Cpath id='calendar_month_FILL0_wght400_GRAD0_opsz24' d='M122.193-858.068a2.112,2.112,0,0,1-1.549-.644,2.112,2.112,0,0,1-.644-1.549v-15.352a2.112,2.112,0,0,1,.644-1.549,2.112,2.112,0,0,1,1.549-.644h1.1V-880h2.193v2.193h8.773V-880h2.193v2.193h1.1a2.112,2.112,0,0,1,1.549.644,2.112,2.112,0,0,1,.644,1.549v15.352a2.112,2.112,0,0,1-.644,1.549,2.112,2.112,0,0,1-1.549.644Zm0-2.193h15.352v-10.966H122.193Zm0-13.159h15.352v-2.193H122.193Zm0,0v0Zm7.676,6.58a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,129.869-866.841Zm-4.386,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,125.483-866.841Zm8.773,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,134.256-866.841Zm-4.386,4.386a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,129.869-862.454Zm-4.386,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,125.483-862.454Zm8.773,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,134.256-862.454Z' transform='translate(-116.786 882)' fill='%23585e65'/%3E%3C/g%3E%3C/svg%3E%0A");
  --ic_time: url("data:image/svg+xml,%3Csvg id='ic_clock' xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Crect id='사각형_9176' data-name='사각형 9176' width='25' height='25' fill='none'/%3E%3Cpath id='schedule_FILL0_wght400_GRAD0_opsz24_1_' data-name='schedule_FILL0_wght400_GRAD0_opsz24 (1)' d='M94.319-864.173l1.507-1.507-3.984-3.984v-4.953H89.69v5.814Zm-3.553,5.706a10.484,10.484,0,0,1-4.2-.848,10.873,10.873,0,0,1-3.418-2.3,10.873,10.873,0,0,1-2.3-3.418,10.484,10.484,0,0,1-.848-4.2,10.484,10.484,0,0,1,.848-4.2,10.873,10.873,0,0,1,2.3-3.418,10.875,10.875,0,0,1,3.418-2.3,10.485,10.485,0,0,1,4.2-.848,10.485,10.485,0,0,1,4.2.848,10.875,10.875,0,0,1,3.418,2.3,10.872,10.872,0,0,1,2.3,3.418,10.484,10.484,0,0,1,.848,4.2,10.484,10.484,0,0,1-.848,4.2,10.873,10.873,0,0,1-2.3,3.418,10.873,10.873,0,0,1-3.418,2.3A10.484,10.484,0,0,1,90.766-858.467ZM90.766-869.234Zm0,8.613a8.3,8.3,0,0,0,6.1-2.517,8.3,8.3,0,0,0,2.517-6.1,8.3,8.3,0,0,0-2.517-6.1,8.3,8.3,0,0,0-6.1-2.517,8.3,8.3,0,0,0-6.1,2.517,8.3,8.3,0,0,0-2.517,6.1,8.3,8.3,0,0,0,2.517,6.1A8.3,8.3,0,0,0,90.766-860.62Z' transform='translate(-78 882)' fill='%23585e65'/%3E%3C/svg%3E%0A");
}

div::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
div::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 100px;
}

html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  padding: 0;
  overflow: hidden scroll;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
label,
input,
button,
select,
img {
  vertical-align: middle;
}
input,
button {
  margin: 0;
  padding: 0;
}
input[type='submit'] {
  cursor: auto;
}
button {
  cursor: auto;
  word-break: keep-all;
}
select {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}
hr {
  display: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.un_reboot_a {
  color: var(--text);
  text-decoration: underline;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: normal;
  word-wrap: break-word;
  white-space: normal;
}

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
}
.container-fluid {
  max-width: 2560px;
}
.mobile_wr {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  box-sizing: content-box;
  min-height: 100vh;
}

/*메인*/
.idx_pg {
  padding-top: var(--hd_height_m);
  padding-bottom: 5rem;
}
.curs_pointer {
  cursor: pointer;
}

/*서브*/
.sub_tit {
  position: relative;
}
.sub_pg {
  background: #fff;
  padding-top: var(--hd_height_m);
  position: relative;
}

.over_hidden {
  overflow: hidden;
}
.text_dynamic {
  white-space: pre-line;
}

.text-gray {
  color: var(--gray);
}
.text-gray2 {
  color: var(--gray2);
}
.text-gray3 {
  color: #686868;
}
.text-black {
  color: #000;
}
.text-black-60 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.text-white-60 {
  color: rgba(255, 255, 255, 0.6) !important;
}

.bg-primary-light {
  background: var(--primary-light);
}

.dot_list li {
  list-style: none;
  margin-bottom: 0.8rem;
  display: flex;
}
.dot_list li:before {
  content: '·';
  vertical-align: middle;
  margin-right: 0.5rem;
}
.dot_list li:last-child {
  margin-bottom: 0;
}
.dot_list.fs_10 li {
  margin-bottom: 0.3rem;
}

.tit_list li {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}
.tit_list li > .col,
.tit_list li > [class*='col-'] {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.tit_list li .tit {
  color: var(--gray2);
}

.line_h1 {
  line-height: 1em;
}
.line_h1_1 {
  line-height: 1.1em;
}
.line_h1_2 {
  line-height: 1.2em;
}
.line_h1_3 {
  line-height: 1.3em;
}
.line_h1_4 {
  line-height: 1.4em;
}
.line_h1_5 {
  line-height: 1.5em;
}
.line_h1_6 {
  line-height: 1.6em;
}
.line_h1_7 {
  line-height: 1.7em;
}
.line_h1_8 {
  line-height: 1.8em;
}
.line_h1_9 {
  line-height: 1.9em;
}
.line_h2 {
  line-height: 2em;
}

/*폰트커스텀 기본사이즈 10px*/

.tit_h1 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #000;
  line-height: 130%;
  margin-bottom: 1.5rem;
}
.tit_h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  line-height: 130%;
}
.tit_h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  line-height: 130%;
}

.fs_8 {
  font-size: 0.8rem;
}
.fs_9 {
  font-size: 0.9rem;
}
.fs_10 {
  font-size: 1rem;
}
.fs_11 {
  font-size: 1.1rem;
}
.fs_12 {
  font-size: 1.2rem;
}
.fs_13 {
  font-size: 1.3rem;
}
.fs_14 {
  font-size: 1.4rem;
}
.fs_15 {
  font-size: 1.5rem;
}
.fs_16 {
  font-size: 1.6rem;
}
.fs_17 {
  font-size: 1.7rem;
}
.fs_18 {
  font-size: 1.8rem !important;
}
.fs_19 {
  font-size: 1.9rem;
}
.fs_20 {
  font-size: 2rem;
}
.fs_21 {
  font-size: 2.1rem;
}
.fs_22 {
  font-size: 2.2rem;
}
.fs_23 {
  font-size: 2.3rem;
}
.fs_24 {
  font-size: 2.4rem;
}
.fs_25 {
  font-size: 2.5rem;
}
.fs_26 {
  font-size: 2.6rem;
}
.fs_27 {
  font-size: 2.7rem;
}
.fs_28 {
  font-size: 2.8rem;
}
.fs_29 {
  font-size: 2.9rem;
}
.fs_30 {
  font-size: 3rem;
}
.fs_31 {
  font-size: 3.1rem;
}
.fs_32 {
  font-size: 3.2rem;
}
.fs_33 {
  font-size: 3.3rem;
}
.fs_34 {
  font-size: 3.4rem;
}
.fs_35 {
  font-size: 3.5rem;
}
.fs_36 {
  font-size: 3.6rem;
}
.fs_37 {
  font-size: 3.7rem;
}
.fs_38 {
  font-size: 3.8rem;
}
.fs_39 {
  font-size: 3.9rem;
}
.fs_40 {
  font-size: 4rem;
}
.fs_41 {
  font-size: 4.1rem;
}
.fs_42 {
  font-size: 4.2rem;
}
.fs_43 {
  font-size: 4.3rem;
}
.fs_44 {
  font-size: 4.4rem;
}
.fs_45 {
  font-size: 4.5rem;
}
.fs_46 {
  font-size: 4.6rem;
}
.fs_47 {
  font-size: 4.7rem;
}
.fs_48 {
  font-size: 4.8rem;
}
.fs_49 {
  font-size: 4.9rem;
}
.fs_50 {
  font-size: 5rem;
}
.fs_51 {
  font-size: 5.1rem;
}
.fs_52 {
  font-size: 5.2rem;
}

.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}

.wh_pre {
  white-space: pre-line;
}
.wh_nowrap {
  white-space: nowrap;
}

.break_all {
  word-break: break-all;
}

/*글자 줄임말/자르기*/
.line_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-break: break-all;
}
.line1_text {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.line2_text {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.line3_text {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* 폼 사각형 */
.sq_guide {
  display: flex;
  flex-wrap: wrap;
}
.sq_guide li {
  width: 80px;
  height: 40px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin: 0.5rem;
}

/* 스크롤바 none */
.scroll_bar_none {
  -ms-overflow-style: none;
}
.scroll_bar_none::-webkit-scrollbar {
  display: none;
}

/*테이블 반응형때*/
.touch_scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

/* 버튼 */
.btn {
  height: var(--height);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
  word-break: keep-all;
  font-weight: 600;
}
.btn-sm {
  height: var(--height_sm);
  border-radius: 0.6rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-md {
  height: var(--height_md);
  font-size: 1.5rem;
}
.btn-lg {
  height: var(--height_lg);
  font-weight: 700;
  font-size: 1.6rem;
}
.btn-link {
  height: auto;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0;
  background: transparent;
  flex-shrink: 0;
  border: 0;
}
.btn-icon {
  height: auto;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0;
  background: transparent;
  flex-shrink: 0;
  border: 0;
}
.btn-icon img {
  flex-shrink: 0;
}

.btn-light-primary {
  background: var(--primary-light);
  border-color: var(--primary-light);
  color: var(--primary);
  background-clip: padding-box;
}
.btn-light-primary:hover,
.btn-light-primary:focus {
  color: var(--primary);
}

.btn-naver {
  background: #1cc800;
  border-color: #1cc800;
  color: #fff;
}
.btn-naver:hover,
.btn-naver:focus {
  background: #1abb00;
  border-color: #1abb00;
}

.btn-kakao {
  background: #ffdd00;
  border-color: #ffdd00;
  color: #333;
}
.btn-kakao:hover,
.btn-kakao:focus {
  background: #ffcc00;
  border-color: #ffcc00;
}

.btn-apple {
  background: #000;
  border-color: #000;
  color: #fff;
}
.btn-apple:hover,
.btn-apple:focus {
  background: #222;
  border-color: #222;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
  color: #e7eaef !important;
  background: #9ea4ab;
  border-color: #9ea4ab;
}

.btn-group-toggle .btn-outline-light:not(:disabled):not(.disabled).active,
.btn-group-toggle .show > .btn-outline-light.dropdown-toggle {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-group-toggle .btn-light:not(:disabled):not(.disabled).active,
.btn-group-toggle .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.btn-group-toggle .btn {
  margin-right: 0.6rem;
}
.btn-group-toggle .btn:last-child {
  margin-right: 0;
}

.btn-group-toggle .btn input[type='radio'],
.btn-group-toggle .btn input[type='checkbox'],
.btn-group-toggle .btn-group .btn input[type='radio'],
.btn-group-toggle .btn-group .btn input[type='checkbox'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-group-full {
  display: flex;
}
.btn-group-full .btn {
  display: flex;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.btn_toggle_primary .btn-outline-light {
  border-color: #d6dae5;
}
.btn_toggle_primary .btn-outline-light:not(:disabled):not(.disabled).active {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--primary);
  font-weight: 600;
}

/* 인풋 자동완성 초기화 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  box-shadow: 0 0 0px 1000px var(--bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  box-shadow: 0 0 0px 1000px var(--bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 입력 인풋 */
.form-control {
  height: var(--height);
}
.form-control-sm {
  height: var(--height_sm);
  border-radius: 0.6rem;
}
.form-control-md {
  height: var(--height_md);
  border-radius: 0.8rem;
}
.form-control-lg {
  height: var(--height_lg);
}
.form-control-auto {
  height: auto;
}

input.form-control {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.ip_wr .ip_tit {
  margin-bottom: 0.6rem;
}
.ip_tit h5 {
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: #000;
}
.ip_tit.required h5::after {
  content: '*';
  position: absolute;
  color: var(--primary);
  top: 0;
  right: -1rem;
}
.ip_wr .form-row .col-3 {
  flex: 0 0 30.4%;
  max-width: 30.4%;
}

/* form-text */
.form-text {
  display: none;
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000;
}
.ip_invalid .ip_invalid {
  display: flex;
  color: var(--danger);
}
.ip_invalid input.form-control {
  border-color: var(--danger);
}
.ip_valid .ip_valid {
  display: flex;
  color: var(--success);
}

/*.form-row*/
.form-row {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
.form-row > .col,
.form-row > [class*='col-'] {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.form-row > .col-3 .btn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* textarea 높이 */
textarea.form-control {
  min-height: 20rem;
  padding: 1.5rem 1.5rem;
  line-height: 130%;
}
.form-control textarea {
  min-height: 14rem;
  padding: 0;
  line-height: 130%;
  border: 0;
  width: 100%;
}
.form-control textarea:focus {
  color: var(--text);
  background-color: var(--bg);
  border-color: var(--gray);
  outline: 0;
  box-shadow: 0 0 0 0 var(--border);
}
.form-control textarea::placeholder {
  color: var(--input_placeholder);
  opacity: 1;
}
.form-control textarea:disabled,
.form-control textarea[readonly] {
  background-color: var(--input_disabled);
  opacity: 1;
}

/* 셀렉트 박스 */
.custom-select,
.custom-select2 {
  padding-right: 3.5rem;
  background-size: 2rem;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  min-width: 13.5rem;
  text-align: left;
  position: relative;
}
.custom-select {
  background: url(../img/ic_ip_select.png) no-repeat center right 1.5rem;
  background-size: 2rem;
}
.custom-select2:after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ic_ip_select.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.custom-select2[aria-expanded='true'] {
  border-radius: 1rem 1rem 0 0;
  border-color: var(--gray);
}
.custom-select2[aria-expanded='true']:after {
  transform: translateY(-50%) rotate(180deg);
}
.custom-select2 + .dropdown-menu {
  min-width: 100%;
  margin: -1px 0 0;
  border-color: var(--border);
  font-size: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  border-color: var(--gray);
  border-top-color: var(--border);
  max-width: 100%;
}
.custom-select2 + .dropdown-menu a {
  padding: 1rem 1.5rem;
  white-space: break-spaces;
  word-break: break-all;
}
.custom-select2 + .dropdown-menu a:hover {
  color: var(--primary);
  background: var(--light);
}

/* 날짜 선택 */
input.form-control[type='date'],
input.form-control[type='time'] {
  position: relative;
}
input.form-control[type='date']::-webkit-calendar-picker-indicator,
input.form-control[type='time']::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
input.form-control[type='date']::before,
input.form-control[type='time']::before {
  content: '';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.6rem;
  background: var(--gray);
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
input.form-control[type='time']::before {
  -webkit-mask: var(--ic_time);
  mask: var(--ic_time);
}
input.form-control[type='date']::before {
  -webkit-mask: var(--ic_date);
  mask: var(--ic_date);
}

input.form-control.no-icon[type='date']::before,
input.form-control.no-icon[type='time']::before {
  display: none;
}

/* 체크박스*/
.checks_wr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}
.checks_wr .checks {
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.checks label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checks label.chk_right {
  flex-flow: row-reverse;
  justify-content: flex-end;
}
.checks input {
  display: none;
}
.checks .ic_box {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid var(--gray1);
  border-radius: 0.4rem;
  background-image: url(../img/check01_off.png);
  background-position: center;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
  flex-shrink: 0;
}
.checks input:checked + .ic_box {
  background-image: url(../img/check01_on.png);
  background-color: var(--primary);
  border-color: var(--primary);
}
.chk_right .ic_box {
  margin-right: 0;
  margin-left: 0.5rem;
}
.checks input:checked ~ .chk_p {
}
.chk_p {
  padding-top: 0.1rem;
}

.checks.primary_checks .ic_box {
  background-color: #eae9f0;
  border-radius: 50%;
  background-image: none;
}
.checks.primary_checks input:checked + .ic_box {
  background-image: url(../img/check01_on.png);
}

.radios_wr {
  display: flex;
  flex-wrap: wrap;
}
.radios_wr .radios {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.radios label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.radios label.chk_right {
  flex-flow: row-reverse;
  justify-content: flex-end;
}
.radios input {
  display: none;
}
.radios .ic_box {
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 2rem;
  border: 1px solid var(--gray2);
}
.radios input:checked + .ic_box {
  border-color: var(--primary);
  border-width: 2px;
}
.radios input:checked + .ic_box:after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary);
  border: 0.03rem solid #fff;
}

/* 이미지 업로드 */
.image_upload {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}
.upload_box {
  width: 11rem;
  border: 1px solid var(--border);
  overflow: hidden;
  cursor: pointer;
  background: url(../img/btn_add_img.png) no-repeat center top 35% / 4rem;
  border-radius: 1rem;
  position: relative;
}
.upload_box .max_img {
  position: absolute;
  bottom: 20%;
  width: 100%;
  left: 0;
  font-size: 1.3rem;
  text-align: center;
  color: var(--gray2);
  font-weight: 500;
}
.image_upload.on .upload_box {
  background: none;
}
.upload_del {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: transparent;
  padding: 0 !important;
  display: none;
}
.upload_del img {
  width: 100%;
}
.image_upload.on .upload_del {
  display: flex;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li {
  height: 100%;
}
.pagination a {
  color: #000;
  font-weight: 500;
  margin: 0 0.4rem;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.pagination a.on {
  background-color: var(--primary);
  color: #fff;
  font-weight: 400;
  color: #fff;
}
.pagination a.arrow {
  background-color: #fff;
  color: #626c79;
}
.pagination a.arrow {
  margin: 0;
}
.pagination a.arrow.disabled img {
  opacity: 0.3;
}

/* 페이저 */
.pager {
  background: #ffffff;
  border-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  margin: 3rem auto 0;
  border: 1px solid var(--border);
}

/* 테이블 */
.table_01 {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px #eee solid;
  line-height: 140%;
}
.table_01 th {
  border-bottom: 1px solid #e3e3e3;
  /* color: #1C1C1E; */
  font-weight: 500;
  padding: 1.2rem 0.3rem;
  background: var(--primary);
  /* vertical-align: top; */
  text-align: center;
  color: #fff;
}
.table_01 td {
  border-bottom: 1px solid #e3e3e3;
  padding: 1.2rem 0.3rem;
  color: #222;
  text-align: center;
}
.table_01 tr:nth-child(odd) {
  background-color: #f5f5f5;
}

/* 테이블 슬래쉬 */
.table_01 th.slash {
  background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="rgb(77,77,77)" /></svg>');
  background-repeat: no-repeat;
}
.table_01 th.backslash {
  background-image: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="rgb(77,77,77)" /></svg>');
  background-repeat: no-repeat;
}
.table_01 th.slash,
.table_01 th.backslash {
  text-align: left;
}
.slash div,
.backslash div {
  text-align: right;
}

/*테이블 반응형때*/
.table_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px !important;
}

/* 이미지 크롭 */
.rect {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.rect:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.rect img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*720*324*/
.rect2 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.rect2:after {
  content: '';
  display: block;
  padding-bottom: calc(324 / 720 * 100%);
}
.rect2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rect3 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.rect3:after {
  content: '';
  display: block;
  padding-bottom: calc(370 / 412 * 100%);
}
.rect3 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*기본모달*/
body {
}
body.modal-open {
  position: fixed;
  top: 0px;
  overflow-y: scroll;
  width: 100%;
}
body.modal-open[style] {
  padding-right: 0px !important;
}
.modal {
  padding-right: 0px !important;
  max-width: var(--wrap_wd);
  left: 50%;
}
.modal-dialog {
  max-height: 100%;
  height: 100%;
}
.modal-sm {
  max-width: 35.2rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding: 0rem 1.6rem;
}
.modal-md {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding: 0rem 1.6rem;
  max-height: calc(100% - 3.5rem);
  min-height: calc(100% - 3.5rem);
}
.modal-default {
  max-width: var(--wrap_wd);
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  padding: 2rem 1.6rem;
}
.modal {
  overflow-y: auto;
}
.modal .modal-header {
  align-items: center;
  padding: 2rem 2rem 1.6rem;
  justify-content: space-between;
}
.modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 1.9rem;
  flex: 1 1 auto;
}
.modal .modal-header .close {
  text-shadow: none;
  opacity: 1;
  width: 2.4rem;
  padding: 0;
  margin: 0;
}
.modal .modal-content {
  border: 0;
  border-radius: 1.2rem;
}
.modal .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1.5rem 2rem 1rem;
}
.modal .modal-body .close_bar {
  width: 4.4rem;
  height: 0.4rem;
  background: #e3e3e3;
  border-radius: 1rem;
  margin: 0 auto 1rem;
  border: 0;
  display: block;
}
.modal .modal-footer > * {
  margin: 0;
}
.modal .modal-footer {
  padding: 1.5rem 2rem 2.5rem;
  border: 0;
  display: block;
}
.modal .modal-footer .form-row {
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}

.modal-sm .modal-footer {
  padding: 0.5rem 2rem 2.5rem;
}
.modal-md .modal-footer {
  padding: 0 2rem 2rem;
}

.modal .modal-sm .modal-header {
  padding: 1.5rem 2rem;
}
.modal .modal-sm .modal-header .modal-title {
  font-size: 1.7rem;
}
.modal .modal-sm .modal-body {
  border: 0;
}
.modal .modal-md .modal-header {
}
.modal .modal-md .modal-body {
}

/*전체사이즈*/
.modal_full.modal {
  overflow-y: auto;
}
.modal_full.modal .modal-header {
  width: 100%;
  background: #fff;
  padding: 0rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--hd_height_m);
  border: 0px;
}
.modal_full.modal .modal-header button {
  border: 0;
  background: transparent;
  width: 3rem;
}
.modal_full.modal .modal-content {
  border-radius: 0;
  max-height: 100vh;
  height: 100vh;
}
.modal_full.modal .modal-dialog {
  margin: 0 auto;
  max-width: var(--wrap_wd);
  transform: translate(0%, 0);
  max-height: 100%;
}
.modal_full.modal .modal-body {
  border: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.modal_full.modal .modal-footer {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  display: block;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.modal_full.modal .modal-footer .form-row {
  margin-left: -5px;
  margin-right: -5px;
}
.modal_full.modal .bg-black .modal-title {
  background: #000;
}

/*하단 팝업*/
.modal_bottom.modal {
  padding-right: 0 !important;
  overflow-y: hidden;
}
.modal_bottom.modal.fade {
}
.modal_bottom.modal.show .modal-dialog {
  padding-right: 0 !important;
  transform: translate(0, 0);
}
.modal_bottom.modal .modal-dialog {
  transform: translate(0, 5rem);
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  transform: translate(0%, 5rem);
  left: 50%;
}
.modal_bottom.modal .modal-title button {
  border: 0;
  background: transparent;
  width: 3.2rem;
  position: absolute;
  right: 2rem;
  top: 1.6rem;
}
.modal_bottom.modal .modal-dialog {
  justify-content: flex-end;
  margin: 0 auto;
  min-height: 100%;
  max-width: var(--wrap_wd);
}
.modal_bottom.modal .modal-content {
  border-radius: 2rem 2rem 0 0;
  margin-top: 3rem;
}
.modal_bottom.modal .modal-body {
  border-bottom: 0;
  padding: 2rem 1.6rem 2rem;
}
.modal_bottom.modal .modal-footer {
  padding: 1rem 1.6rem 1.5rem;
}
.modal-backdrop {
  left: 50%;
  width: 100%;
  max-width: var(--wrap_wd);
}

/* 토스트팝업 */
.toast {
  color: #fff;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
/* toast */
.toast {
  width: 100%;
  max-width: 576px;
  position: fixed;
  top: 7rem;
  left: 50%;
  padding: 0 1.6rem;
  box-shadow: none;
  font-weight: 300;
  z-index: 1000;
  border: 0;
  background: transparent;
}
.toast-body {
  padding: 1.3rem 1.5rem;
  background-color: rgba(32, 32, 32, 0.9);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.8rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* 뱃지 */
.badge {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.badge-light-primary {
  background-color: var(--primary-light);
  color: var(--primary);
}
.badge-gray {
  background-color: var(--light);
  color: var(--gray);
}
.badge-disabled {
  color: #999;
  background: #ddd;
}

.badge-sm {
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}

/*터치*/
.touch_scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

/* List Style */
.list_style_1 li {
  display: flex;
  padding-bottom: 0.7rem;
  line-height: 1.4;
}
.list_style_1 li:last-child {
  padding-bottom: 0;
}
.list_style_1 li > span {
  display: inline-block;
  width: 8rem;
  padding-right: 0.5rem;
  flex-shrink: 0;
}

.list_style_2 li {
  display: flex;
  padding-bottom: 0.8rem;
}
.list_style_2 li:before {
  content: '-';
  display: inline-block;
  margin-right: 1rem;
}

.list_style_3 li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list_style_3 li:last-child {
  margin-bottom: 0 !important;
}
.list_style_3 li div {
}

/*탭*/
.tab_sticky {
  position: sticky;
  top: 4.8rem;
  z-index: 15;
}

/*nav-tabs*/
.nav-tabs {
  background: #f5f6f8;
  border-radius: 0.8rem;
  padding: 0.8rem;
  border: 0;
  flex-wrap: nowrap;
}
.nav-tabs .nav-link {
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #999;
  border: 0;
  margin-bottom: 0px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.8rem;
  font-weight: 600;
  word-break: keep-all;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background: #fff;
  color: #000;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.06);
}

/*nav-pills*/
.nav-pills {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
  flex-wrap: nowrap;
}
.nav-pills .col {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 1rem;
  background: #aab1b7;
  color: #fff;
}

/*nav_tab_line*/
.nav_tab_line {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
.nav_tab_line {
  border: unset;
  border-bottom: 1px solid #e3e3e3;
}
.nav_tab_line .nav-item {
  text-align: center;
  background-color: #fff;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
}
.nav_tab_line .nav-link {
  border: 1px solid white;
  color: #000;
  height: 6rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  background: transparent;
}
.nav_tab_line .nav-link.active,
.nav_tab_line .nav-item.show .nav-link {
  border-bottom: 0.2rem solid var(--primary);
  color: var(--primary);
  transform: translateY(0.15rem);
  padding-bottom: 1.15rem;
}

/*드롭다운*/
.dropdown-menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dropdown-menu .dropdown-item {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.dropdown-menu .dropdown-item:hover {
  background: #f5f6f8;
}

/*커스텀 스위치*/
.custom-switch {
  padding: 0;
  width: 4.9rem;
  height: 2.5rem;
}
.custom-switch .custom-control-label::after {
  width: 1.9rem;
  height: 1.9rem;
  background-color: #fff;
  border-radius: 3rem;
  top: 0.3rem;
  left: 0.3rem;
}
.custom-control-label::after {
  position: absolute;
  top: 0.3rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';
  cursor: pointer;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  left: 1.9rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--primary);
  background-color: var(--primary);
}
.custom-control-label::before {
  background-color: #e3e3e3;
  border: 0;
  top: 0;
  cursor: pointer;
}
.custom-switch .custom-control-label::before {
  left: 0;
  width: 4.9rem;
  height: 2.5rem;
  border-radius: 2rem;
}

/*마진*/
.mt_8 {
  margin-top: 0.8rem;
}
.mt_12 {
  margin-top: 1.2rem;
}
.mt_16 {
  margin-top: 1.6rem;
}
.mt_20 {
  margin-top: 2rem;
}
.mt_24 {
  margin-top: 2.4rem;
}
.mt_25 {
  margin-top: 2.5rem;
}
.mt_28 {
  margin-top: 2.8rem;
}
.mt_35 {
  margin-top: 3.5rem;
}
.mt_36 {
  margin-top: 3.6rem;
}
.mt_40 {
  margin-top: 4rem;
}
.mt_50 {
  margin-top: 5rem;
}
.mt_60 {
  margin-top: 6rem;
}
.mt_70 {
  margin-top: 7rem;
}
.mt_80 {
  margin-top: 8rem;
}

.mb_4 {
  margin-bottom: 0.4rem;
}
.mb_6 {
  margin-bottom: 0.6rem;
}
.mb_8 {
  margin-bottom: 0.8rem;
}
.mb_12 {
  margin-bottom: 1.2rem;
}
.mb_14 {
  margin-bottom: 1.4rem;
}
.mb_16 {
  margin-bottom: 1.6rem;
}
.mb_18 {
  margin-bottom: 1.8rem;
}
.mb_20 {
  margin-bottom: 2rem;
}
.mb_24 {
  margin-bottom: 2.4rem;
}
.mb_25 {
  margin-bottom: 2.5rem;
}
.mb_40 {
  margin-bottom: 4rem;
}
.mb_50 {
  margin-bottom: 5rem;
}
.mb_60 {
  margin-bottom: 6rem;
}
.mb_70 {
  margin-bottom: 7rem;
}
.mb_90 {
  margin-bottom: 9rem;
}

.mr_4 {
  margin-right: 0.4rem;
}
.mr_6 {
  margin-right: 0.6rem;
}
.mr_8 {
  margin-right: 0.8rem;
}
.mr_12 {
  margin-right: 1.2rem;
}
.mr_16 {
  margin-right: 1.6rem;
}
.mr_20 {
  margin-right: 2rem;
}

.ml_6 {
  margin-left: 0.6rem;
}
.ml_8 {
  margin-left: 0.8rem;
}
.ml_16 {
  margin-left: 1.6rem;
}
.ml_20 {
  margin-left: 2rem;
}

.mx_n16 {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}
.mx_n20 {
  margin-left: -2rem;
  margin-right: -2rem;
}
.mx_n10 {
  margin-left: -1rem;
  margin-right: -1rem;
}

/*패딩*/
.pt_6 {
  padding-top: 0.6rem;
}
.pt_14 {
  padding-top: 1.4rem;
}
.pt_20 {
  padding-top: 2rem;
}
.pt_24 {
  padding-top: 2.4rem;
}
.pt_25 {
  padding-top: 2.5rem;
}
.pt_28 {
  padding-top: 2.8rem;
}
.pt_40 {
  padding-top: 4rem;
}
.pt_50 {
  padding-top: 5rem;
}
.pt_60 {
  padding-top: 6rem;
}
.pt_80 {
  padding-top: 8rem;
}
.pt_120 {
  padding-top: 12rem;
}

.pb_8 {
  padding-bottom: 0.8rem;
}
.pb_14 {
  padding-bottom: 1.4rem;
}
.pb_16 {
  padding-bottom: 1.6rem;
}
.pb_18 {
  padding-bottom: 1.8rem;
}
.pb_20 {
  padding-bottom: 2rem;
}
.pb_24 {
  padding-bottom: 2.4rem;
}
.pb_25 {
  padding-bottom: 2.5rem;
}
.pb_40 {
  padding-bottom: 4rem;
}
.pb_50 {
  padding-bottom: 5rem;
}
.pb_60 {
  padding-bottom: 6rem;
}
.pb_70 {
  padding-bottom: 7rem;
}
.pb_80 {
  padding-bottom: 8rem;
}
.pb_90 {
  padding-bottom: 9rem;
}
.pb_100 {
  padding-bottom: 10rem;
}

.pl_16 {
  padding-left: 1.6rem;
}

.pr_16 {
  padding-right: 1.6rem;
}

.py_8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.py_20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py_25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py_35 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.px_8 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.px_12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.px_18 {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.px_16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.px_20 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p_20 {
  padding: 2rem;
}

.vh_min100 {
  min-height: 100vh;
}
.vh_100_vh {
  height: 100vh;
}
.w-auto {
  width: auto;
}

/* 이미지 정사각형 만드는 클래스 */
.rect {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rect::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.rect > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

/* 이미지 세로 680*340 2:1 메인 기획전 배너*/
.rect2 {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rect2::after {
  content: '';
  display: block;
  padding-bottom: calc(340 / 680 * 100%);
}

.rect2 > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.footer {
}

/*반응형 max 1200 xl*/
@media (max-width: 1199.98px) {
}

/*반응형 max 992px lg*/
@media (max-width: 991.98px) {
  /* toast */
  .toast {
    transform: translateX(-50%);
  }

  .modal {
    transform: translateX(-50%);
  }
  .modal_bottom.modal .modal-dialog {
    transform: translate(-50%, 5rem);
  }
  .modal_bottom.modal.show .modal-dialog {
    transform: translate(-50%, 0);
  }
  .modal-backdrop {
    transform: translateX(-50%);
  }
  /*메인*/
  .idx_pg {
    min-height: 100vh;
  }
  /*서브*/
  .sub_pg {
    min-height: 100vh;
  }
}

/*반응형 max 767px md*/
@media (max-width: 767.98px) {
}

/*반응형 max 576px sm*/
@media (max-width: 575.98px) {
  :root {
    --hd_height_m: 5.4rem;
  }

  .mobile_wr {
    border-left: 0;
    border-right: 0;
  }
}

/*반응형 max 375px*/
@media (max-width: 410px) {
  html {
    font-size: 9.4px;
  }
}
