.intro_page {
  position: relative;
  z-index: 1;

  .full_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    @media (max-width: 640px) {
      background-color: #fff;
      img {
        display: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main_wrap {
  position: relative;
  z-index: 3;
  overflow: hidden;
  .left_wrap {
    position: fixed;
    top: 0;
    left: calc(50% - 560px);
    display: table;
    width: 515px;
    height: 100%;
    z-index: 10;

    .home_title {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .logo_box {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          width: 140px;
        }
        .sub_title {
          font: {
            size: 2.8rem;
            weight: 700;
          }
        }
      }
      .qr_con {
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 400px;
        margin-top: 15px;
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        .app_down {
          position: absolute;
          bottom: 5px;
          right: -75px;
          width: 170px;
        }
        .img_con {
          img {
            width: 100px;
          }
        }
        .txt_con {
          .qr {
            font: {
              size: 1.6rem;
              weight: 500;
            }
          }
          .down {
            position: relative;
            margin-top: 10px;
            padding-left: 30px;
            font: {
              size: 1.4rem;
              weight: 500;
            }
            &::before {
              content: "";
              position: absolute;
              display: block;
              width: 20px;
              height: 9px;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background: url("../../assets/images/ico/ico_app_arr.png") no-repeat center / cover;
            }
          }
        }
      }
    }
  }
  .right_wrap {
    position: relative;
    left: calc(50% - 45px);
    max-width: 640px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // padding-bottom: 100px;
    background-color: #fff;
  }
}

@media (max-width: 1200px) {
  .main_wrap {
    .left_wrap {
      display: none;
    }
    .right_wrap {
      margin: 0 auto;
      left: initial;
    }
  }
}
