.alarm_con {
  .list {
    position: relative;
    padding-top: 24px;
    .delete_btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      .delete_img {
        width: 16px;
        height: 16px;
      }
    }
    .t1 {
      width: calc(100% - 35px);
      margin-bottom: 5px;
      font: {
        size: 16px;
        weight: 400;
      }
    }
    .date {
      font: {
        size: 14px;
        weight: 500;
      }
      color: #a2a2a2;
    }
    .border-bl {
      padding-bottom: 24px;
    }
  }
}

// 알람없음

.no_alarm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  img {
  }
}
