.buy_info {
  .tit {
    font: {
      size: 16px;
      weight: 700;
    }
  }
  .d-flex {
    gap: 16px;
    .t1 {
      font: {
        size: 14px;
        weight: 500;
      }
    }
    .t2 {
      font: {
        size: 14px;
        weight: 700;
      }
    }
  }
  .border-bb {
    margin-block: 20px;
    border: 4px solid var(--border);
  }
}

.check_con {
  .form-check {
    .policy_view {
      text-decoration: underline;
      font: {
        size: 12px;
        weight: 700;
      }
    }
  }
}
