.community_search {
  .sch_ip {
    margin-top: 20px;
  }
  .region {
    padding-top: 20px;
    overflow-x: scroll;
    label {
      flex-shrink: 0;
    }
  }
  .border-bb {
    margin-top: 20px;
  }
}

.community_review {
  .title_con {
    padding: 17px 28px;
    border-radius: 6px;
    background-color: #f5f5f5;
    .tit {
      position: relative;
      display: inline-block;
      padding-right: 20px;
      font: {
        size: 20px;
        weight: 700;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url("../../assets/images/icon/ico_right_arr.png") no-repeat center / cover;
      }
    }
    .review_sum {
      font: {
        size: 16px;
        weight: 700;
      }
      color: var(--primary);
    }
  }
}

// 게시글 상세

.community_detail {
  .review_list {
    .list {
      padding-bottom: 0;
      border-bottom: none !important;
      .title {
        .writer {
          font: {
            size: 16px;
            weight: 500;
          }
        }
      }
      .info_summation {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-block: 15px 12px;
        .t1 {
          font: {
            size: 16px;
            weight: 400;
          }
        }
        .star_con {
          display: flex;
          align-items: center;
          .box {
            display: flex;
            align-items: center;
            .star {
              img {
                width: 18px;
              }
            }
          }
          .num {
            font: {
              size: 16px;
              weight: 400;
            }
            color: #777;
          }
        }
      }
    }
  }
}
