.counselor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: start;
        gap: 80px;
    }
    .left_box {
        flex-shrink: 0;
        .thumb_con {
            margin-bottom: 20px;
            .img_con {
                .img_thumb {
                }
            }
        }
        .txt_con {
            .name {
                font: {
                    size: 24px;
                    weight: 700;
                }
            }
            .rating {
                padding-left: 10px;
                .rate {
                    position: relative;
                    padding-left: 30px;
                    font: {
                        size: 24px;
                        weight: 700;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 25px;
                        height: 25px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background: url("../../assets/images/icon/ico_rate_star.png") no-repeat center / cover;
                    }
                    span {
                        font: {
                            size: 16px;
                            weight: 500;
                        }
                        color: #b2b2b2;
                    }
                }
            }
        }
        .hash {
            display: flex;
            gap: 3px;
            margin-top: 5px;
            .tag {
                padding: 3px 6px;
                border-radius: 10px;
                font: {
                    size: 12px;
                    weight: 500;
                }
                &:nth-child(1) {
                    background-color: #e3f2fd; // 연한 하늘색
                    color: #1e88e5; // 파란 계열 진한색
                }
                &:nth-child(2) {
                    background-color: #e8f5e9; // 연한 초록
                    color: #43a047; // 진한 초록
                }
                &:nth-child(3) {
                    background-color: #fff8e1; // 연한 노랑
                    color: #f9a825; // 머스타드 계열 진한색
                }
                &:nth-child(4) {
                    background-color: #f3e5f5; // 연한 보라
                    color: #8e24aa; // 진한 보라
                }
                &:nth-child(5) {
                    background-color: #ffebee; // 연한 핑크
                    color: #e53935; // 진한 레드/핑크
                }
                &:nth-child(6) {
                    background-color: #e0f7fa; // 연한 민트
                    color: #00838f; // 진한 민트/청록
                }
            }
        }
    }
    .right_box {
        width: 100%;
        .point_con {
            padding: 20px;
            background-color: #e3f2fd;
            border-radius: 15px;
            @include media-breakpoint-up(md) {
                padding: 45px 35px;
            }
            .list {
                position: relative;
                margin-bottom: 20px;
                padding-left: 20px;
                font: {
                    size: 1rem;
                    weight: 500;
                }
                @include media-breakpoint-up(md) {
                    padding-left: 30px;
                    font: {
                        size: 18px;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 5px;
                    top: 6px;
                    left: 0;
                    border-radius: 50%;
                    background-color: #222;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .trait {
            margin-top: 45px;
            .txt_con {
                p {
                    font: {
                        size: 1rem;
                    }
                    line-height: 24px;
                    @include media-breakpoint-up(md) {
                        font: {
                            size: 18px;
                            weight: 500;
                        }
                    }
                }
            }
        }

        .history_con {
            display: flex;
            gap: 70px;
            margin-top: 45px;
            .box {
                .list {
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 16px;
                    font: {
                        size: 1rem;
                        weight: 700;
                    }
                    line-height: 24px;
                    @include media-breakpoint-up(md) {
                        font: {
                            size: 18px;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 5px;
                        height: 5px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }
                }

                &.history {
                    .tit {
                        color: #1e88e5;
                    }
                    .list {
                        color: #1e88e5;
                        &::before {
                            background-color: #1e88e5;
                        }
                    }
                }
                &.qualifications {
                    .tit {
                        color: #43a047;
                    }
                    .list {
                        color: #43a047;
                        &::before {
                            background-color: #43a047;
                        }
                    }
                }
            }
        }

        .work_time {
            margin-block: 45px;
            padding-bottom: 45px;
            border-bottom: 1px solid #eee;
            .time_con {
                .time {
                    font: {
                        size: 1rem;
                    }
                    line-height: 24px;
                    @include media-breakpoint-up(md) {
                        font: {
                            size: 18px;
                            weight: 500;
                        }
                    }
                    .date {
                    }
                    &.holiday {
                        color: #e53935;
                    }
                }
            }
        }

        .specialization {
            margin-block: 45px;
            padding-bottom: 45px;
            border-bottom: 1px solid #eee;
            .t1 {
                font: {
                    size: 1rem;
                }
                line-height: 24px;
                @include media-breakpoint-up(md) {
                    font: {
                        size: 18px;
                        weight: 500;
                    }
                }
            }
        }

        .service {
            margin-block: 45px;
            padding-bottom: 45px;
            border-bottom: 1px solid #eee;
            .service_list {
                .list {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .link {
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        gap: 30px;

                        .info_con {
                            .t1 {
                                margin-bottom: 10px;
                                font: {
                                    size: 1rem;
                                    weight: 700;
                                }
                                @include media-breakpoint-up(md) {
                                    font: {
                                        size: 18px;
                                        weight: 700;
                                    }
                                }
                            }
                            .t2 {
                                font: {
                                    size: 0.9rem;
                                    weight: 400;
                                }
                                @include media-breakpoint-up(md) {
                                    font: {
                                        size: 18px;
                                        weight: 400;
                                    }
                                }
                            }
                        }
                        .img_con {
                            position: relative;
                            width: 75px;
                            flex-shrink: 0;
                            border-radius: 10px;
                            overflow: hidden;
                            @include media-breakpoint-up(md) {
                                width: 150px;
                            }
                            &::before {
                                content: "";
                                display: block;
                                padding-bottom: 70%;
                            }
                            img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    .treatment_list {
        .list {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 30px;
            @include media-breakpoint-up(sm) {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
            .thumb_con {
                .img_con {
                    width: 50px;
                    height: 50px;
                    .img_thumb {
                    }
                }
            }

            .review_desc {
                margin-bottom: 10px;
                .writer_info {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-block: 15px;
                    .name {
                        font: {
                            size: 0.9rem;
                            weight: 700;
                        }
                        @include media-breakpoint-up(sm) {
                            font: {
                                size: 16px;
                                weight: 700;
                            }
                        }
                    }
                    .rating {
                        .sum {
                            position: relative;
                            padding-left: 25px;
                            font: {
                                size: 1rem;
                                weight: 700;
                            }
                            @include media-breakpoint-up(sm) {
                                font: {
                                    size: 18px;
                                    weight: 700;
                                }
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                background: url("../../assets/images/icon/ico_rate_star.png") no-repeat center / cover;
                            }
                        }
                    }
                }
                .desc {
                    font: {
                        size: 1rem;
                        weight: 500;
                    }
                    line-height: 26px;
                    @include media-breakpoint-up(md) {
                        font: {
                            size: 18px;
                        }
                    }
                }
            }
        }
    }

    .tit {
        margin-bottom: 15px;
        font: {
            size: 24px;
            weight: 700;
        }
        .num {
            color: #b2b2b2;
        }
    }
    .fixed_bottom {
        left: 50%;
        transform: translateX(-50%);
        max-width: 1000px;
        width: 100%;
        .btn {
            padding-block: 10px;
            font: {
                size: 18px;
                weight: 700;
            }
        }
    }
}

.thumb_con {
    .img_con {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        .img_thumb {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
