@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --gray: #585e65;
  --gray1: #abb5be;
  --gray2: #9ea4ab;
  --border: #e3e3e3;
  --primary: #00402d;
  --main: #00402d;

  --hd_height: 9rem;
  --hd_height_m: 7rem;
  --height_sm: 3.2rem;
  --height_md: 4.2rem;
  --height: 4.8rem;
  --height_lg: 5rem;
  --ic_date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg id='ic_calenda' transform='translate(-0.214)'%3E%3Crect id='사각형_9174' data-name='사각형 9174' width='25' height='25' transform='translate(0.214)' fill='none'/%3E%3Cpath id='calendar_month_FILL0_wght400_GRAD0_opsz24' d='M122.193-858.068a2.112,2.112,0,0,1-1.549-.644,2.112,2.112,0,0,1-.644-1.549v-15.352a2.112,2.112,0,0,1,.644-1.549,2.112,2.112,0,0,1,1.549-.644h1.1V-880h2.193v2.193h8.773V-880h2.193v2.193h1.1a2.112,2.112,0,0,1,1.549.644,2.112,2.112,0,0,1,.644,1.549v15.352a2.112,2.112,0,0,1-.644,1.549,2.112,2.112,0,0,1-1.549.644Zm0-2.193h15.352v-10.966H122.193Zm0-13.159h15.352v-2.193H122.193Zm0,0v0Zm7.676,6.58a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,129.869-866.841Zm-4.386,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,125.483-866.841Zm8.773,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,134.256-866.841Zm-4.386,4.386a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,129.869-862.454Zm-4.386,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,125.483-862.454Zm8.773,0a1.061,1.061,0,0,1-.781-.315,1.061,1.061,0,0,1-.315-.781,1.061,1.061,0,0,1,.315-.781,1.061,1.061,0,0,1,.781-.315,1.061,1.061,0,0,1,.781.315,1.061,1.061,0,0,1,.315.781,1.061,1.061,0,0,1-.315.781A1.061,1.061,0,0,1,134.256-862.454Z' transform='translate(-116.786 882)' fill='%23585e65'/%3E%3C/g%3E%3C/svg%3E%0A");
  --ic_time: url("data:image/svg+xml,%3Csvg id='ic_clock' xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Crect id='사각형_9176' data-name='사각형 9176' width='25' height='25' fill='none'/%3E%3Cpath id='schedule_FILL0_wght400_GRAD0_opsz24_1_' data-name='schedule_FILL0_wght400_GRAD0_opsz24 (1)' d='M94.319-864.173l1.507-1.507-3.984-3.984v-4.953H89.69v5.814Zm-3.553,5.706a10.484,10.484,0,0,1-4.2-.848,10.873,10.873,0,0,1-3.418-2.3,10.873,10.873,0,0,1-2.3-3.418,10.484,10.484,0,0,1-.848-4.2,10.484,10.484,0,0,1,.848-4.2,10.873,10.873,0,0,1,2.3-3.418,10.875,10.875,0,0,1,3.418-2.3,10.485,10.485,0,0,1,4.2-.848,10.485,10.485,0,0,1,4.2.848,10.875,10.875,0,0,1,3.418,2.3,10.872,10.872,0,0,1,2.3,3.418,10.484,10.484,0,0,1,.848,4.2,10.484,10.484,0,0,1-.848,4.2,10.873,10.873,0,0,1-2.3,3.418,10.873,10.873,0,0,1-3.418,2.3A10.484,10.484,0,0,1,90.766-858.467ZM90.766-869.234Zm0,8.613a8.3,8.3,0,0,0,6.1-2.517,8.3,8.3,0,0,0,2.517-6.1,8.3,8.3,0,0,0-2.517-6.1,8.3,8.3,0,0,0-6.1-2.517,8.3,8.3,0,0,0-6.1,2.517,8.3,8.3,0,0,0-2.517,6.1,8.3,8.3,0,0,0,2.517,6.1A8.3,8.3,0,0,0,90.766-860.62Z' transform='translate(-78 882)' fill='%23585e65'/%3E%3C/svg%3E%0A");

  --wrap: 1000px;
  --wrap_wd: 500px;
  --wrap_wd_2: 250px;
  --menu_w: 400px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden scroll;
  font-size: 1.6rem;
  line-height: 1.15;
}

html {
  font-size: 10px;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
  word-break: keep-all;
}

#wrap {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.right_wrapper {
  width: 50%;
  -ms-overflow-style: none;
  min-height: 100vh;
  background: #fff;
  @include media-breakpoint-up(lg) {
    max-width: 100%;
  }
}
.right_wrapper::-webkit-scrollbar {
  display: none;
}

.inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 12px;
  @include media-breakpoint-up(lg) {
  }
}

.nl {
  display: inline;
  line-height: inherit;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

/* Padding Top */
@for $i from 0 through 20 {
  .pt-#{$i * 5} {
    padding-top: #{$i * 5}px;
  }
}

/* Padding Bottom */
@for $i from 0 through 20 {
  .pb-#{$i * 5} {
    padding-bottom: #{$i * 5}px;
  }
}

/* Margin Top */
@for $i from 0 through 20 {
  .mt-#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
}

/* Margin Bottom */
@for $i from 0 through 20 {
  .mb-#{$i * 5} {
    margin-bottom: #{$i * 5}px;
  }
}

@for $i from 0 through 20 {
  .mr-#{$i * 5} {
    margin-right: #{$i * 5}px;
  }
}

.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}

/* bar */
.bar {
  height: 1rem;
  background-color: #f8f8f8;
}

/*버튼*/
.bottom_btn {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding: 1rem 1.6rem 2rem;
  max-width: 576px;
  transform: translateX(-50%);
  z-index: 1040;
}
.go_top2 {
  width: 4.4rem;
  height: 4.4rem;

  background-size: 1.6rem auto;
  z-index: 1000;
  border-radius: 50%;

  position: fixed;
  left: calc(50% + var(--wrap_wd) - 4.4rem - 1.6rem);
  bottom: 8rem;
  img {
    width: 100%;
  }
}
.go_top2.show {
  display: block;
}

.zd_2 {
  position: relative;
  z-index: 2;
}

.btn {
  height: 100%;
}

/* 헤더 */
.hd_m {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--hd_height_m) !important;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  padding: 0 1.6rem;
  z-index: 1000;
  border-bottom: 1px solid #f6f6f6;
  left: 50%;
}

.hd_m button {
  border: 0;
  background: transparent;
}
.hd_m button img,
.hd_m a img {
  height: 3rem;
}
.hd_m .logo img {
  height: 2rem;
}

.hd_m .page_tit {
  text-align: center;
}
.hd_m .hd_btn,
.modal-header .hd_btn {
  display: flex;
  align-items: center;
}

.hd_m button.top_alim,
.hd_m button.top_chat {
  position: relative;
}
.hd_m button.top_alim span,
.hd_m button.top_chat span {
  color: #fff;
  background: var(--primary);
  display: inline-block;
  position: absolute;
  right: 0rem;
  top: 0rem;
  border-radius: 0.8rem;
  width: 0.4rem;
  height: 0.4rem;
}

/*헤더 배경이 투명일때*/
.hd_transparent {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.17), transparent);
  color: #fff;
  border-bottom: 0;
}
.hd_transparent button img {
  filter: invert(95%) sepia(96%) saturate(15%) hue-rotate(283deg) brightness(104%) contrast(105%);
}
.hd_transparent .logo {
  background: url(../img/logo_w.png) no-repeat center / cover;
}
.hd_transparent button.top_alim span,
.hd_transparent button.top_chat span {
  background: #fff;
}

.btn2 {
  border: 0px;
  background: none;
  margin: 0;
  padding: 0;
}

/*검색*/
.sch_ip {
  display: flex;
  border: 1px solid var(--border);
  background: #fff;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 0.8rem;
}
.sch_ip .form-control {
  height: 4.8rem;
  padding: 0.5rem 0;
}
.sch_ip .form-control:focus {
  background-color: transparent;
}
.sch_ip button {
  width: 2rem;
  height: 2rem;
  border: 0;
  background: transparent;
}

/*회색 검색*/
.sch_gray.sch_ip {
  background: #f5f6f8;
  border: 0;
}
/*터치*/
.touch_scroll {
  overflow-x: auto;
  overflow-y: hidden;
}
.ul_list {
}
.ol_list {
  padding-left: 2rem;
}
.ol_list li {
  margin-bottom: 0.5rem;
  line-height: 140%;
}

/*노데이터*/
.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item_opt_counter {
  position: relative;
  width: 8.7rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 3.6rem;
  border: 1px solid #e3e3e3;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
.item_opt_counter_btn {
  width: 26%;
  height: 3rem;
  vertical-align: top;
  padding: 0;
}

.item_opt_counter_btn.disabled,
.item_opt_counter_btn:disabled {
  opacity: 0.3;
  background: transparent;
  border: transparent;
}
.item_opt_counter .quantity {
  width: 48%;
  height: 100%;
  vertical-align: top;
  color: #333333;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4.4rem;
  text-align: center;
  border: unset;
}
.item_opt_counter .quantity:focus {
  outline: 0;
}

.item_opt_counter.time_counter {
  width: 15rem;
  height: 4.7rem;
  line-height: 4.7rem;
  border-radius: 3.6rem;
  border: 1px solid #e3e3e3;
}
.item_opt_counter.time_counter .quantity {
  color: #000;
  font-size: 1.8rem;
}

.item_opt_counter.disabled .quantity {
  color: #999;
}
.item_opt_counter.disabled .item_opt_counter_btn {
  opacity: 0.3;
}

/*하단메뉴*/
.bt_menu {
  width: calc(100% + 2px);
  max-width: 576px;
  background: #fff;
  position: fixed;
  left: calc(50% + var(--wrap_wd_2));
  bottom: 0;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  max-width: var(--wrap_wd);
  z-index: 1000;
  display: block;
}
.bt_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1.6rem;
  height: 6rem;
  border-top: 1px solid var(--border);
}
.bt_menu ul li {
  width: 20%;
  max-width: 6rem;
}
.bt_menu ul li a {
  display: inline-block;
  color: var(--gray2);
  font-weight: 600;
  font-size: 1.2rem;
}
.bt_menu ul li .ico {
  width: 3.5rem;
  display: block;
  margin: 0 auto;
}
.bt_menu ul li .img_on {
  display: none;
}
.bt_menu ul li.on a {
  color: var(--primary);
}
.bt_menu ul li.on .img_on {
  display: block;
}
.bt_menu ul li.on .img_off {
  display: none;
}

/* 모바일 메뉴 */
body.menu_on {
  position: fixed;
  top: 0px;
  overflow-y: scroll;
  width: 100%;
}
.hd_menu_btn {
  font-size: 2rem;
}
.m_menu_wr {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  max-width: var(--menu_w);
  z-index: 99999;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.hd_m_nav .top_alim span {
  color: #fff;
  background: var(--primary);
  display: inline-block;
  position: absolute;
  right: 0rem;
  top: 0rem;
  border-radius: 0.8rem;
  width: 0.4rem;
  height: 0.4rem;
}
.hd_m_nav button {
  border: 0px;
  background-color: transparent;
}
.hd_m_nav button img {
  height: 3rem;
}
.foot_info {
  background-color: #f5f5f5;
  padding: 3rem 1.6rem;
  margin-top: 3rem;
}

/* x버튼 */
.close_btn_wr {
  display: none;
  opacity: 0;
}
.m_nav .close_btn_wr {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
}
.menu_on .m_nav .close_btn_wr {
  opacity: 1;
}
.close_btn {
  font-size: 2rem;
  border: 0;
  height: auto;
}
.close_btn img {
  width: 3rem;
}

/* 메뉴 열렸을때 외부 */
.menu_on .m_menu_wr {
  visibility: visible;
  opacity: 1;
}
.m_nav {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  transition: all 0.4s ease-in-out;
  max-width: 0;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
}
.menu_on .m_nav {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  max-width: 100%;
}

.menu_bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 99998;
  visibility: hidden;
  opacity: 0;
}
.menu_on .menu_bg {
  visibility: visible;
  opacity: 1;
}

/* 메뉴 열렸을때 내부 */
.m_nav .nav_wr {
  height: 100%;
  overflow-y: scroll;
}
.m_nav .nav_ul {
  display: block;
}
.m_nav .nav_li {
  height: 100%;
  position: relative;
}
.m_nav .nav_a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.4rem 1.6rem;
  font-weight: 600;
  color: #000;
}
.m_nav .nav_a:hover {
  color: var(--primary);
}
.m_nav .nav_a img {
  width: 2rem;
}
.m_nav .nav_ul2 {
  display: none;
  background: var(--light);
}
.m_nav .nav_ul2 a {
  display: block;
  padding: 1.2rem 1.6rem;
  white-space: nowrap;
}

.opacity-50 {
  opacity: 50%;
}
.navtop_wrap {
  padding: 2rem 1.6rem;
  border-bottom: #efefef 6px solid;
}

/*메인*/
.main_grid {
  margin-top: 1.6rem;
}
.main_grid .mbox {
  border-radius: 1.6rem;
  background-color: #999;
  padding: 3rem 1rem 3rem 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-position-x: right;
  word-break: keep-all;
}
.main_grid .mbox a {
  display: block;
  color: #fff;
}
.main_grid .mbox .g_txt {
  font-size: 2.2rem;
  font-weight: 800;
  font-family: "GmarketSansMedium";
}
.main_grid .mbox_st2 {
  margin: 1.2rem 0rem;
  display: flex;
  gap: 1.2rem;
}
.main_grid .mbox_st2 > div {
  flex: 1;
}
.main_grid .box4 {
  margin-top: 1.2rem;
}
.main_grid .box2 {
  height: 100%;
}
.main_grid .box3,
.main_grid .box4 {
  padding-bottom: 6rem;
}

/*메인>이벤트슬라이드*/
.event_slide {
  margin-top: 4rem;
}
.swiper-pagination.pag_st {
  color: #b9b9b9;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  width: auto;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  right: 1rem;
  left: auto;
  bottom: 1rem;
}
.swiper-pagination.pag_st .swiper-pagination-current {
  color: #fff;
}

/*상품슬라이드*/
.membership_wrap {
  margin-top: 6.5rem;
}

.like_btn input {
  display: none;
}
.like_btn {
}
.like_btn .ic_heart {
  width: 3.3rem;
  cursor: pointer;
  height: 3.3rem;
  background: url("../../assets/images/icon/ico_star_off.png");
  background-size: 100%;
}
.like_btn input:checked + .ic_heart {
  background: url("../../assets/images/icon/ico_star_on.png");
  background-size: 100%;
}
/*상품이미지 */
.item_box {
  position: relative;
  border: 1px solid var(--border);
  border-radius: 1.2rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 130%;
}
.item_box .like_btn {
  position: absolute;
  top: 1.4rem;
  right: 1.2rem;
  z-index: 40;
}
.item_box .item_link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.item_box .item_img {
  position: relative;
}
.item_box .item_bet {
  position: absolute;
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.9rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  z-index: 40;
  bottom: 1rem;
  left: 2rem;
}
.item_box .item_txt {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*아이템 슬라이드*/
.memship_list {
  margin-right: -15px;
  padding-right: 8px;
}
.memship_list .swiper-slide {
  width: 345px;
  height: auto;
}

/*회원권보러가기*/
.map_view {
  height: 100%;
}
.mem_filter {
  position: fixed;
  transform: translateX(0%);
  width: 100%;
  top: var(--hd_height_m);
  z-index: 40;
  background-color: #f5f5f5;
}
.srchfltr_wrap {
  padding-top: 1rem;
}
.srchfltr .touch_scroll {
  margin-right: -2rem;
}
.srchfltr .btn img {
  width: 14px;
  opacity: 0.6;
}
.srchfltr .btn {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-right: 0.5rem;
}
.srchfltr .btn span {
  white-space: nowrap;
}
.srchfltr .btn-group-toggle {
  display: flex;
}
.map_view {
  background-color: #999;
  width: 100%;
  height: calc(100vh - var(--hd_height_m));
  position: relative;
}

/*멥/장소정보*/
.map_info_wp {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  z-index: 15;
}
.map_info_wp .box {
  background-color: #fff;
  border-radius: 1.6rem 1.6rem 0rem 0rem;
  position: relative;
  padding-bottom: 1rem;
}
.map_info_wp .touch_bar {
  width: 100%;
  padding: 0.2rem 0rem 1rem;
}
.map_info_wp .touch_bar span {
  background-color: #d9d9d9;
  width: 85px;
  height: 4px;
  display: inline-block;
}
.map_info_wp .info_close {
  position: absolute;
  right: 5%;
  top: -5rem;
}
.map_info_wp .map_info_li {
  max-height: 450px;
  overflow-y: scroll;
}
.map_info_wp .infobox {
  display: flex;
  padding: 1.3rem 2rem;
  align-items: center;
}
.map_info_wp .infobox .media_img {
  width: 170px;
  margin-right: 2.7rem;
}

.my_loca {
  width: 5rem;
  height: 5rem;

  background: url("../../assets/images/img/my_loca.png") no-repeat center center #fff;
  background-size: 3rem;
  z-index: 10;
  border-radius: 50%;
  position: fixed;
  left: calc(50% + var(--wrap_wd) - 4.4rem - 1.6rem);
  bottom: 2rem;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

/*장소 푯말*/
.tooltip_box {
  position: absolute;
  top: 150px;
  left: 150px;
}
.tooltip-bubble {
  display: inline-block;
  background: #2c2c2c;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.tooltip-bubble strong {
  color: #ffc94b; /* 강조색 */
  font-weight: 600;
  margin-left: 4px;
}

.tooltip-bubble::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #2c2c2c transparent transparent transparent;
}
.tooltip-bubble.active {
  background-color: #ff6e30;
}
.tooltip-bubble.active::after {
  border-color: #ff6e30 transparent transparent transparent;
}

.filter_box .btn-outline-primary {
  color: #626262;
  border-color: var(--border);
  font-weight: 500;
}
.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.filter_box {
  margin-bottom: 6rem;
}
.filter_box .tit {
  margin-bottom: 1.4rem;
}

.btn-group-toggle.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn-group-toggle.grid .btn {
  margin: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-group-toggle.grid.grid_3 .btn {
  width: calc((100% - 2rem) / 3);
}
.btn-group-toggle.grid.grid_4 .btn {
  width: calc((100% - 3rem) / 4);
}
.btn-group-toggle.grid.grid_5 .btn {
  width: calc((100% - 4rem) / 5);
}
.bar {
  background-color: #efefef;
  height: 0.6rem;
  margin: 4rem 0rem;
}
/*정보가 양쪽나올때를 위해 만듬*/
.bar {
  background-color: #efefef;
  height: 0.6rem;
  margin: 4rem 0rem;
}
.list_txt_info li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.tit_wrap {
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
}
.btn-sm.rounded-pill {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.asking_price {
  gap: 2rem;
}
.asking_price > div {
  flex: 1;
}
.asking_price table {
  width: 100%;
  font-size: 1.4rem;
}
.asking_price table th {
  width: 85px;
  padding: 0.5rem 1rem 0.5rem 0rem;
  vertical-align: top;
}
.asking_price table td {
  padding: 0.5rem 0rem;
  vertical-align: top;
}

/* 이미지 업로드 */
.image_upload {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}
.upload_box {
  width: 11rem;
  border: 1px solid var(--border);
  overflow: hidden;
  cursor: pointer;
  background: url(../../assets/images/img/btn_add_img.png) no-repeat center top 35% / 4rem;
  border-radius: 1rem;
  position: relative;
}
.upload_box .max_img {
  position: absolute;
  bottom: 20%;
  width: 100%;
  left: 0;
  font-size: 1.3rem;
  text-align: center;
  color: var(--gray2);
  font-weight: 500;
}
.image_upload.on .upload_box {
  background: none;
}
.upload_del {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: transparent;
  padding: 0 !important;
  display: none;
}
.upload_del img {
  width: 100%;
}
.image_upload.on .upload_del {
  display: flex;
}

/* 이미지 정사각형 만드는 클래스 */
.rect {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rect::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rect > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

/* 이미지 세로 680*340 2:1 메인 기획전 배너*/
.rect2 {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rect2::after {
  content: "";
  display: block;
  padding-bottom: calc(340 / 680 * 100%);
}

.rect2 > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

/* 반응형 */
@media (max-width: 992px) {
  .m_menu_wr {
    width: 100%;
    left: initial;
    right: 0;
    max-width: var(--wrap_wd);
  }
  .menu_bg {
    width: 100%;
    left: 50%;
  }
  .menu_on .m_nav {
    max-width: 80%;
  }

  .hd_m {
    transform: translateX(-50%);
  }
  #wrap {
    justify-content: center;
  }
  .left_wrapper {
    display: none;
  }
  .right_wrapper {
    width: 100%;
  }

  .bt_menu {
    left: 50%;
    transform: translateX(-50%);
  }
  .go_top2 {
    left: calc(50% + var(--wrap_wd_2) - 4.4rem - 1.6rem);
  }
}

@media (max-width: 767.9px) {
}

@media (max-width: 575.9px) {
  body {
    font-size: 1.5rem;
  }
  .main_grid .mbox .g_txt {
    font-size: 1.9rem;
  }
  .go_top2 {
    left: auto;
    right: 1.6rem;
  }
  .tit_h1 {
    font-size: 2.2rem;
  }
  .tit_h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 460px) {
  .map_info_wp .infobox .media_img {
    width: 30%;
  }
  .filter_box {
    margin-bottom: 4rem;
  }
  .filter_box .tit {
    margin-bottom: 1rem;
  }
}

@media (max-width: 380px) {
  .main_grid .mbox {
    padding: 2rem 1rem 2rem 2rem;
  }
  .main_grid .mbox .g_txt {
    font-size: 1.7rem;
  }
  .main_grid .box3,
  .main_grid .box4 {
    padding-bottom: 4rem;
  }
}

.point {
  color: var(--primary);
}

.list_btn {
  position: relative;
  padding-left: 2.5rem !important;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 1.3rem;
    height: 1rem;
    top: 50%;
    left: 0.8rem;
    transform: translateY(-50%);
    background: url("../../assets/images/icon/ico_compare.png") no-repeat center / cover;
  }
}

.fixed_bottom {
  position: fixed;
  width: 500px;
  max-width: 100%;
  padding-block: 1.4rem;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  z-index: 100;
  .kakao_link {
    margin-bottom: 0;
  }
}

.bottom_btn_con {
  padding-block: 1.4rem;
  &.two {
    display: flex;
    gap: 1.1rem;
    .btn {
      width: 50%;
    }
  }
}

.border-bb {
  margin-inline: calc(var(--bs-gutter-x) * -0.5);
  margin-block: 4rem;
  border-bottom: 0.6rem solid var(--border);
}

.border-bl {
  margin-inline: calc(var(--bs-gutter-x) * -0.5);
  border-bottom: 0.1rem solid var(--border);
}

// list_con

.list_con {
  margin-block: 1.6rem 2.3rem;
  .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    &:last-child {
      margin-bottom: 0;
    }
    .t1 {
      font: {
        size: 1.6rem;
        weight: 500;
      }
    }
    .price {
      font: {
        size: 1.6rem;
        weight: 700;
      }
    }
  }

  &.type2 {
    .list {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      .t1 {
        font: {
          size: 1.6rem;
          weight: 400;
        }
      }
      .t2 {
        font: {
          size: 1.6rem;
          weight: 700;
        }
      }
    }
  }
}

.sub_tit {
  font: {
    size: 2rem;
    weight: 700;
  }
}

.custom-select {
  background: url("../../assets/images/icon/selectarrow.png") no-repeat right 1rem center / contain;
  background-size: 1.6rem;
}

.kakao_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #ffe94b;
}

@media (max-width: 992px) {
  .fixed_bottom {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  .fixed_bottom {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 800px) {
  .hd_m {
    left: 50%;
    transform: translateX(-50%);
  }
  .right_wrapper {
    width: 100%;
  }
  .fixed_bottom {
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1000px) {
  .hd_m {
    left: 50%;
    transform: translateX(-50%);
  }

  .fixed_bottom {
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
  }
}
