.event {
  .border-bb {
    margin: 0;
    margin-inline: calc(var(--bs-gutter-x) * -1);
  }
  .btn-group {
    gap: 4px;
    padding-block: 20px;
  }
  .event_list {
    .list {
      .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 20px;
        .txt_con {
          .tit {
            margin-bottom: 7px;
            font: {
              size: 16px;
              weight: 400;
            }
          }
          .date {
            font: {
              size: 14px;
              weight: 500;
            }
            color: #a2a2a2;
          }
        }
        .btn {
        }
      }
    }
  }
}
