.tit_con {
    margin-bottom: 50px;
    text-align: center;
    .title {
        font: {
            size: 4.5rem;
            weight: 700;
        }
        line-height: 1.4;
        span {
            color: var(--main);
        }
    }
    .t1 {
        margin-top: 30px;
        font: {
            size: 1.8rem;
            weight: 400;
        }
        line-height: 1.7;
    }
}

.intro_slide {
    .swiper-wrapper {
        height: 80vh;
    }
}

.main_menu {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    .menu {
        position: relative;
        width: calc((100% - 15px) / 3);
        height: 315px;
        padding: 20px;
        border-radius: 15px;
        &:nth-child(1) {
            background-color: #fff3d1;
        }
        &:nth-child(2) {
            background-color: #cae2fe;
        }
        &:nth-child(3) {
            background-color: #ffe5f0;
        }
        .link {
            display: block;
            height: 100%;
            .img_con {
                .img {
                    width: 100%;
                }
            }
            .txt_con {
                position: absolute;
                bottom: 25px;
                left: 15px;
                .tit {
                    margin-bottom: 5px;
                    font: {
                        size: 2rem;
                        weight: 700;
                    }
                }
                .desc {
                    font: {
                        size: 1.4rem;
                        weight: 400;
                    }
                }
            }
        }
    }
}

.intro_con {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    .left_box {
        width: 40%;
        p {
            color: #3c3c3c;
        }
        .tit {
            font: {
                size: 2.4rem;
                weight: 400;
            }
            color: var(--main);
        }
        .t1 {
            margin-top: 30px;
            font: {
                size: 4.5rem;
                weight: 700;
            }
            line-height: 1.4;
        }
        .t2 {
            margin-top: 20px;
            font: {
                size: 1.8rem;
                weight: 400;
            }
            line-height: 1.7;
        }
    }
    .right_box {
        position: relative;
        display: flex;
        gap: 25px;
        width: 55%;
        z-index: 2;
        .img_con {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            &:nth-child(1) {
                width: 75%;
                transform: translateY(-25px);
            }
            &.column {
                position: relative;
                width: 25%;
                transform: translateY(25px);
                .img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }
            .img {
                height: 100%;
            }
        }
    }
    .gradient_cir {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-75%, 50%);
        width: 200rem;
        height: 200rem;
        background: radial-gradient(
            circle farthest-corner at 50% 50%,
            rgba(0, 128, 0, 0.2),
            rgba(0, 128, 0, 0.1) 32%,
            rgba(0, 128, 0, 0) 71%
        );
        z-index: -1;
    }
}

.obstacle {
    margin-top: 150px;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 65%;
        .img_con {
            position: relative;
            width: 50%;
            flex-shrink: 0;
            padding-top: 30%;
            border-radius: 3rem;
            overflow: hidden;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .txt_con {
            width: 30%;
            margin-left: 30px;
            transform: translateX(-150%);
            transition: all 1s;
            opacity: 0;
            .tit {
                font: {
                    size: 3.6rem;
                    weight: 700;
                }
            }
            .t1 {
                margin-top: 20px;
                font: {
                    size: 1.8rem;
                    weight: 400;
                }
                line-height: 1.7;
                color: #3c3c3c;
            }
        }
        &.swiper-slide-active {
            .txt_con {
                transform: translateX(0);
                transition: all 1s;
                opacity: 1;
            }
        }
        &.swiper-slide-prev {
            .img_con {
                transform: translateX(40%);
                transition: all 1s;
                opacity: 0.3;
            }
        }
        &.swiper-slide-next {
            .img_con {
                transform: translateX(25%);
                transition: all 1s;
                opacity: 0.3;
            }
        }
    }
}

.solution {
    position: relative;
    margin-top: 150px;
    .gradient_cir {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(75%, 50%);
        width: 200rem;
        height: 200rem;
        background: radial-gradient(
            circle farthest-corner at 50% 50%,
            rgba(0, 128, 0, 0.2),
            rgba(0, 128, 0, 0.1) 32%,
            rgba(0, 128, 0, 0) 71%
        );
        z-index: -1;
    }

    .list_box {
        display: flex;
        gap: 30px;
        .box {
            width: calc(100% / 2);
            .img_con {
                border-radius: 10px;
                overflow: hidden;
                aspect-ratio: 2 / 1;
                box-shadow: 3px 3px 10px 3px rgba(0, 128, 0, 0.1);
                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .txt_con {
                margin-top: 20px;
                .t1 {
                    font: {
                        size: 1.8rem;
                        weight: 500;
                    }
                    color: var(--main);
                }
                .t2 {
                    margin-top: 10px;
                    font: {
                        size: 2.4rem;
                        weight: 700;
                    }
                    color: var(--main);
                }
                .t3 {
                    margin-top: 10px;
                    font: {
                        size: 1.8rem;
                        weight: 400;
                    }
                    color: #3c3c3c;
                    line-height: 1.4;
                }
            }
        }
    }
}

.why {
    margin-top: 150px;
    .list_box {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        .box {
            position: relative;
            width: calc((100% / 2) - 8px);
            border-radius: 10px;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 71%);
                z-index: 1;
            }
            .img_con {
                aspect-ratio: 1 / 1;
                overflow: hidden;
                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .txt_con {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 25px;
                z-index: 2;
                p {
                    color: #fff;
                }
                .t1 {
                    font: {
                        size: 2.4rem;
                        weight: 700;
                    }
                }
                .t2 {
                    margin-top: 10px;
                    font: {
                        size: 1.6rem;
                        weight: 400;
                    }
                    line-height: 1.7;
                }
            }
        }
    }
}

.process {
    margin-top: 150px;
    .cont {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .box_sticky {
            position: sticky;
            top: 12rem;
            display: flex;
            width: 45%;
            flex-direction: column;
            .sub_tit_wrap {
                .tit {
                    font: {
                        size: 4.8rem;
                        weight: 700;
                    }
                    line-height: 1.4;
                }
                .txt {
                    margin-top: 15px;
                    font: {
                        size: 1.8rem;
                        weight: 400;
                    }
                    color: #3c3c3c;
                    line-height: 1.7;
                }
            }
            .image {
                width: 100%;
                padding-top: 55%;
                background-color: #fff;
                transition: top 0.3s;
                border-radius: 3.33rem;
                margin-top: 5.92rem;
                overflow: hidden;
                position: relative;
                img {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    transition: opacity 0.3s ease-in-out;
                    &.active {
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .box_wrap {
        width: 49%;
        margin-top: 265px;
        .box {
            display: flex;
            align-items: start;
            gap: 10px;
            margin-bottom: 18rem;
            opacity: 0.3;
            transition: opacity 0.3s ease-in-out;
            &.active {
                opacity: 1;
            }
            .num {
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #000;
                color: #fff;
            }
            .sub_tit {
                margin-top: 6px;
                .tit {
                    font: {
                        size: 1.8rem;
                        weight: 700;
                    }
                }
                .desc {
                    margin-top: 15px;
                    font: {
                        size: 1.6rem;
                        weight: 500;
                    }
                    line-height: 1.7;
                    color: #3c3c3c;
                }
            }
        }
    }
}

.banner_con {
    position: relative;
    margin-top: 150px;
    padding-block: 150px;
    background-color: var(--main);
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 350px;
        height: 216px;
        bottom: 40px;
        right: calc((100% - 1000px) * 0.5);
        background: url("../../assets/images/img/img_banner_bg.png") no-repeat center / cover;
        opacity: 0.1;
    }
    .t1 {
        font: {
            size: 4.8rem;
            weight: 700;
        }
        color: #fff;
    }
    .link {
        display: inline-block;
        margin-top: 50px;
        padding: 15px 22px;
        border-radius: 40px;
        background-color: #fff;
        color: var(--main);
    }
}
