.sch_ip {
  .btn-icon {
    height: auto;
    .search_icon {
      width: 20px;
    }
  }
}

.map_search_bar {
  .srchfltr {
    .btn-group-gray {
      .btn-outline-light {
        flex-shrink: 0;
        font: {
          size: 15px;
          weight: 600;
        }
        &.reset {
          .reset_btn {
            width: 25px;
            height: 25px;
            opacity: 0.6;
          }
        }
        &.active {
          color: var(--primary);
          background-color: #fff;
        }
      }
    }
  }
}
