.membership_contract {
  .contract_card {
    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 35px 25px;
      border: 1px solid var(--border);
      border-radius: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      .left {
        .t1 {
          margin-bottom: 5px;
          font: {
            size: 14px;
            weight: 500;
          }
          &.sell {
            color: #ff8c21;
          }
          &.buy {
            color: #21a2ff;
          }
        }
        .t2 {
          font: {
            size: 16px;
            weight: 600;
          }
        }
      }
      .right {
        text-align: right;
        .badge_custom {
          width: 67px;
          margin-bottom: 5px;
          text-align: center;
        }
        .price {
          font: {
            size: 18px;
            weight: 700;
          }
          span {
            font: {
              size: 14px;
              weight: 700;
            }
          }
        }
      }
    }
  }
}
