.all_check {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border);
  .form-check {
    .form-check-label {
      font-weight: 500;
    }
  }
}

.sub_check {
  .form-check {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .btn {
        text-decoration: underline;
      }
    }
  }
}
