.my_inquiry_list {
  .title_con {
    padding-top: 15px;
    .d-flex {
      gap: 10px;
      margin-bottom: 15px;
      .title {
        font: {
          size: 16px;
          weight: 700;
        }
      }
      .btn {
      }
    }
    .date {
      font: {
        size: 12px;
        weight: 500;
      }
      color: #777;
    }
    .border-bl {
      padding-top: 15px;
    }
  }
}
