.mypage_info {
  .txt_con {
    margin-bottom: 20px;
    p {
      line-height: 26px;
    }
    .name {
      font: {
        size: 20px;
        weight: 700;
      }
    }
    .email {
      font: {
        size: 16px;
        weight: 400;
      }
      color: #454545;
    }
    .phone_num {
      font: {
        size: 16px;
        weight: 400;
      }
      color: #454545;
    }
  }

  .border-bl {
    border: 2px solid var(--border);
  }
}

.mypage_menu {
  .menu_con {
    border-bottom: 1px solid var(--border);
    padding-bottom: 30px;
    .tit {
      margin-bottom: 10px;
      font: {
        size: 20px;
        weight: 700;
      }
    }
    .menu_list {
      .list {
        .link {
          position: relative;
          display: block;
          padding: 16px 20px 16px 0;
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: url("../../assets/images/icon/ico_right_arr.png") no-repeat center / cover;
          }
          .t1 {
            font: {
              size: 16px;
              weight: 400;
            }
          }
        }
      }
      .switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 16px;
      }
    }
    .version {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .t1 {
        font: {
          size: 16px;
          weight: 400;
        }
        .condition {
          display: inline-block;
          padding-left: 15px;
          color: #a2a2a2;
        }
      }
    }
  }
  .form-switch .form-check-input:checked {
    background: url("../../assets/images/icon/ico_switch_white.png") no-repeat right center / cover var(--primary);
    background-size: 19px;
  }
}

.secession {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
    font: {
      size: 16px;
      weight: 400;
    }
    color: #a2a2a2;
  }
}

.form-row {
  .col {
    .time {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font: {
        size: 14px;
        weight: 500;
      }
      color: #f23f3f;
    }
  }
}
