.notice_search {
  margin-inline: calc(var(--bs-gutter-x) * -0.5);
  padding: 10px 20px;
  background-color: #f5f5f5;
}

.notice_con {
  .list {
    position: relative;
    padding-top: 24px;
    a {
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url("../../assets/images/icon/ico_right_arr.png") no-repeat center / cover;
      }
      .delete_btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .delete_img {
          width: 16px;
          height: 16px;
        }
      }
      .t1 {
        width: calc(100% - 20px);
        margin-bottom: 5px;
        font: {
          size: 16px;
          weight: 400;
        }
      }
      .date {
        font: {
          size: 14px;
          weight: 500;
        }
        color: #a2a2a2;
      }
      .border-bl {
        padding-bottom: 24px;
      }
    }
  }
}

.notice_detail {
  .title_con {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
    .d-flex {
      gap: 12px;
      margin-bottom: 15px;
      .title {
        font: {
          size: 16px;
          weight: 700;
        }
      }
      .btn {
      }
    }
    .date {
      font: {
        size: 16px;
        weight: 500;
      }
    }
  }
  .notice_contents {
    min-height: 200px;
    p {
      font: {
        size: 16px;
        weight: 400;
      }
      line-height: 24px;
    }
  }
}

.notice_reply {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--border);
  .reply_box {
    position: relative;
    padding: 12px;
    border-radius: 8px;
    background-color: #f6f6f6;
    &::before {
      content: "A.";
      position: absolute;
      display: block;
      top: 12px;
      left: 12px;
      font: {
        size: 16px;
        weight: 500;
      }
    }
    p {
      font: {
        size: 16px;
        weight: 500;
      }
      color: #454545;
    }
    .reply {
      min-height: 95px;
      padding-left: 18px;
    }
    .date {
      text-align: right;
    }
  }
}
