.secession_con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  .img_con {
    width: 220px;
    margin: 0 auto 50px;
    img {
      width: 100%;
    }
  }
  .t1 {
    font: {
      size: 20px;
      weight: 400;
    }
  }
  .t2 {
    margin-top: 16px;
    font: {
      size: 14px;
      weight: 500;
    }
    color: #777;
  }
}
