.recommend {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 0px;
    margin-top: 50px;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: 30px;
        margin-top: 150px;
    }
    .tit_con {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }
        .title {
            text-align: left;
        }
    }
    .txt_con {
        .list {
            position: relative;
            margin-bottom: 15px;
            padding: 25px;
            border-radius: 30px;
            background-color: rgba($color: #00402d, $alpha: 0.1);
            @include media-breakpoint-up(md) {
                padding: 15px 15px 15px 30px;
            }
            p {
                position: relative;
                padding-left: 35px;
                font: {
                    size: 0.9rem;
                    weight: 400;
                }
                @include media-breakpoint-up(md) {
                    font: {
                        size: 16px;
                    }
                }
                &::before {
                    content: "1";
                    position: absolute;
                    display: block;
                    top: -3px;
                    left: 0;
                    font: {
                        size: 20px;
                        weight: 700;
                    }
                    color: var(--primary);
                }
            }
            &:nth-child(1) {
                p {
                    &::before {
                        content: "01.";
                    }
                }
            }
            &:nth-child(2) {
                p {
                    &::before {
                        content: "02.";
                    }
                }
            }
            &:nth-child(3) {
                p {
                    &::before {
                        content: "03.";
                    }
                }
            }
            &:nth-child(4) {
                p {
                    &::before {
                        content: "04.";
                    }
                }
            }
        }
    }
}

.method {
    margin-block: 50px 50px;
    @include media-breakpoint-up(md) {
        margin-block: 150px 50px;
    }
    .tit_con {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }
        .title {
            text-align: left;
        }
    }
    .method_con {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        .list {
            position: relative;
            width: calc((100% - 15px) / 2);
            border-radius: 15px;
            background-color: #eee;
            @include media-breakpoint-up(sm) {
                width: calc((100% - 30px) / 3);
            }
            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            .box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                padding: 10px;
                .img_con {
                    position: relative;
                    height: 70px;
                    margin-bottom: 10px;
                    text-align: center;
                    @include media-breakpoint-up(sm) {
                        height: 100px;
                        margin-bottom: 10px;
                    }
                    @include media-breakpoint-up(lg) {
                        height: 115px;
                        margin-bottom: 30px;
                    }
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50px;
                        @include media-breakpoint-up(sm) {
                            width: 70px;
                        }
                        @include media-breakpoint-up(md) {
                            width: 90px;
                        }
                    }
                }
                .txt_con {
                    text-align: center;
                    .t1 {
                        margin-bottom: 10px;
                        font: {
                            size: 1rem;
                            weight: 700;
                        }
                        @include media-breakpoint-up(sm) {
                            font: {
                                size: 1.3rem;
                            }
                        }
                        @include media-breakpoint-up(md) {
                            font: {
                                size: 24px;
                            }
                        }
                    }
                    .t2 {
                        font: {
                            size: 0.8rem;
                        }
                        @include media-breakpoint-up(sm) {
                            font: {
                                size: 0.9rem;
                            }
                        }
                        @include media-breakpoint-up(md) {
                            font: {
                                size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .method {
        .method_con {
            .list {
                width: 100%;
                .box {
                    .img_con {
                        height: 140px;
                        margin-bottom: 35px;
                        img {
                            width: 120px;
                        }
                    }
                    .txt_con {
                        .t1 {
                            font: {
                                size: 1.2rem;
                            }
                        }
                        .t2 {
                            font: {
                                size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
