// 공통

:root {
  --main-color: #437fec;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Pretendard";
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 580px;
  margin: 0 auto;
  padding-inline: 10px;
}

.contents {
}

/* 레이아웃 */

.height-100 {
  min-height: 100vh;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

/* font size */

.small-l {
  font: {
    size: 14px;
    weight: 300;
  }
}

.small-r {
  font: {
    size: 14px;
    weight: 400;
  }
}

.small-m {
  font: {
    size: 14px;
    weight: 500;
  }
}

.small-b {
  font: {
    size: 14px;
    weight: 700;
  }
}

.medium-r {
  font: {
    size: 16px;
    weight: 400;
  }
}

.medium-m {
  font: {
    size: 16px;
    weight: 500;
  }
}

.medium-b {
  font: {
    size: 16px;
    weight: 700;
  }
}

.large-l {
  font: {
    size: 18px;
    weight: 300;
  }
}

.large-r {
  font: {
    size: 18px;
    weight: 400;
  }
}

.large-m {
  font: {
    size: 18px;
    weight: 500;
  }
}

.large-b {
  font: {
    size: 18px;
    weight: 700;
  }
}

.header-b {
  font: {
    size: 24px;
    weight: 700;
  }
}

.text_align_r {
  text-align: right;
}

.text_line_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text_line_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text_line_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 480px) {
  .small-l {
    font: {
      size: 0.8rem;
      weight: 300;
    }
  }

  .small-r {
    font: {
      size: 0.8rem;
      weight: 400;
    }
  }

  .small-m {
    font: {
      size: 0.8rem;
      weight: 500;
    }
  }

  .small-b {
    font: {
      size: 0.8rem;
      weight: 700;
    }
  }

  .medium-r {
    font: {
      size: 0.9rem;
      weight: 400;
    }
  }

  .medium-m {
    font: {
      size: 0.9rem;
      weight: 500;
    }
  }

  .medium-b {
    font: {
      size: 0.9rem;
      weight: 700;
    }
  }

  .large-l {
    font: {
      size: 1rem;
      weight: 300;
    }
  }

  .large-r {
    font: {
      size: 1rem;
      weight: 400;
    }
  }

  .large-m {
    font: {
      size: 1rem;
      weight: 500;
    }
  }

  .large-b {
    font: {
      size: 1rem;
      weight: 700;
    }
  }

  .header-b {
    font: {
      size: 1.2rem;
      weight: 700;
    }
  }
}
