<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <title>@@title</title>

  <link rel="stylesheet" href="@@cssPath/bootstrap.min.css" />
  <link rel="stylesheet" href="@@cssPath/style.css?v=5" />
  <script src="@@jsPath/bootstrap.js"></script>

  <!-- plugin -->
  <!-- jqury -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <!--부트스트랩-->
  <script defer src="@@jsPath/bootstrap.bundle.min.js"></script>
  <!-- swiper slide -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- plugin -->
</head>

<body>
  <div class="wrapper">
    <div class="intro_page">
      <div class="full_bg">
        <img src="@@imgPath/img/img_full_bg.jpg" alt="">
      </div>
      <div class="main_wrap">
        <div class="left_wrap">
          <div class="home_title">
            <div class="logo_box">
              <img src="@@imgPath/logo/logo_logo.png" alt="">
              <p class="sub_title">나만의 펫마켓,<br> 지금 만나보세요</p>
            </div>
            <div class="qr_con">
              <img src="@@imgPath/img/img_app_down.png" alt="" class="app_down">
              <div class="img_con">
                <img src="@@imgPath/img/img_qr.png" alt="">
              </div>
              <div class="txt_con">
                <p class="qr">펫샵과 견사를 잇는<br> 믿을 수 있는 직거래 플렛폼</p>
                <p class="down">앱 설치하기</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right_wrap">