<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" sizes="57x57" href="@@imgPath/favicon/apple-icon-57x57.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="60x60" href="@@imgPath/favicon/apple-icon-60x60.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="72x72" href="@@imgPath/favicon/apple-icon-72x72.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="76x76" href="@@imgPath/favicon/apple-icon-76x76.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="114x114" href="@@imgPath/favicon/apple-icon-114x114.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="120x120" href="@@imgPath/favicon/apple-icon-120x120.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="144x144" href="@@imgPath/favicon/apple-icon-144x144.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="152x152" href="@@imgPath/favicon/apple-icon-152x152.png?v=@@version" />
  <link rel="apple-touch-icon" sizes="180x180" href="@@imgPath/favicon/apple-icon-180x180.png?v=@@version" />
  <link rel="icon" type="image/png" sizes="192x192" href="@@imgPath/favicon/android-icon-192x192.png?v=@@version" />
  <link rel="icon" type="image/png" sizes="32x32" href="@@imgPath/favicon/favicon-32x32.png?v=@@version" />
  <link rel="icon" type="image/png" sizes="96x96" href="@@imgPath/favicon/favicon-96x96.png?v=@@version" />
  <link rel="icon" type="image/png" sizes="16x16" href="@@imgPath/favicon/favicon-16x16.png?v=@@version" />
  <link rel="manifest" href="@@imgPath/favicon/manifest.json" />
  <link rel="icon" href="@@imgPath/favicon/favicon1.ico?v=@@version" />
  <meta name=" msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="@@imgPath/favicon/ms-icon-144x144.png?v=@@version" />
  <meta name="theme-color" content="#ffffff" />
  <title>@@title</title>

  <link rel="stylesheet" href="@@cssPath/bootstrap.min.css?v=@@version" />
  <link rel="stylesheet" href="@@cssPath/style.css?v=@@version" />
  <script src="@@jsPath/bootstrap.js"></script>
  <script defer src="@@jsPath/header.js?v=@@version"></script>

  <!-- plugin -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- plugin -->
</head>

<body>
  <div class="wrapper">