<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <title>@@title</title>

  <link rel="stylesheet" href="@@cssPath/bootstrap.min.css" />
  <link rel="stylesheet" href="@@cssPath/style.css" />
  <script src="@@jsPath/bootstrap.js"></script>
  <!-- 메뉴 -->
  <script defer src="@@jsPath/menu.js"></script>

  <!-- plugin -->
  <!-- jqury -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <!--부트스트랩-->
  <script src="@@jsPath/bootstrap.bundle.min.js"></script>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- plugin -->
</head>

<body>
  <div class="wrapper">
    <div class="main_menu">
      <div class="inner">
        <div class="user_info">
          <div class="left">
            <div class="user_profile">
              <img class="img" src="@@imgPath/logo/logo_symbol.png" alt="로그인썸네일">
            </div>
            <div class="user_name">
              <p class="t1">로그인해주세요</p>
              <a href="javascript:void(0);" class="t2">로그인</a>
            </div>
          </div>
          <div class="close_btn">
            <img src="@@imgPath/ico/ico_menu_close.png" alt="" class="close_icon">
          </div>
        </div>

        <ul class="menu_list">
          <li class="menu">
            <a href="javascript:void(0);" class="link">골든 브레인</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">브레인 톡톡</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">언어치료 솔루션</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">프로세스</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">자가진단</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">공지사항</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">이벤트</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">FAQ</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">이용약관</a>
          </li>
          <li class="menu">
            <a href="javascript:void(0);" class="link">개인정보 처리방침</a>
          </li>
        </ul>

      </div>


      <footer class="menu_footer">
        <p class="company_name">골든브레인케어</p>
        <div class="company_info">
          <p class="txt">대표자 : 대표 전화번호 : 0507-1393-3759</p>
          <p class="txt">이메일 : j5031004@naver.com</p>
          <p class="txt">주소 : 중앙대로 694 9층 48호</p>
          <p class="txt">사업자등록번호 : 601-95-80477</p>
        </div>
      </footer>
    </div>