.cash_list {
    .filter {
        .search_filter {}
    }
}

.cash_list_con {
    .list {
        padding-top: 10px;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--border-color);

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            border-bottom: 1px solid var(--border-color);
        }

        .link {
            position: relative;
            display: flex;
            justify-content: space-between;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 17px;
                top: 5px;
                right: 0;
                background: url('../../assets/images/ico/ico_menu_arr.png') no-repeat center / cover;
            }

            .date {
                font: {
                    size: 20px;
                    weight: 500
                }

                line-height: 28px;
                letter-spacing: -1px;
            }

            .cash {
                padding-right: 20px;

                font: {
                    size: 20px;
                    weight: 500;
                }

                line-height: 28px;
                letter-spacing: -1px;
                color: var(--gray-color);
            }

        }
    }
}