.class_comment_detail {
    .profile_con {
        display: flex;
        gap: 30px;
        align-items: center;
        padding-block: 40px 30px;
        border-bottom: 1px solid var(--gray-color);

        .profile_thumb {
            .thumb_con {
                width: 90px;
                height: 90px;
            }
        }

        .profile_info {
            flex: 1;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 17px;
                top: 5px;
                right: 0;
                background: url('../../assets/images/ico/ico_menu_arr.png') no-repeat center / cover;
            }

            .class_name {
                display: flex;
                align-items: center;
                gap: 30px;

                .name {
                    font: {
                        size: 20px;
                        weight: 500
                    }

                    line-height: 28px;
                    letter-spacing: -1px;
                }


            }

            .career_con {
                margin-top: 20px;

                .name {

                    font: {
                        size: 14px;
                        weight: 500;
                    }

                    line-height: 18px;
                    letter-spacing: -0.7px;
                    color: var(--brown-color);
                }

                .career {
                    margin-bottom: 5px;

                    font: {
                        size: 14px;
                        weight: 400
                    }

                    line-height: 18px;
                    letter-spacing: -0.7px;
                    color: var(--gray-color);
                }

            }
        }
    }

    .comment_con {
        padding-block: 25px;

        .title_con {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            gap: 10px;
            margin-bottom: 20px;

            .txt_con {
                .t1 {
                    margin-bottom: 5px;

                    font: {
                        size: 16px;
                        weight: 600
                    }

                    line-height: 22px;
                    letter-spacing: -0.8px;
                }

                .t2 {
                    font: {
                        size: 12px;
                        weight: 400
                    }

                    line-height: 18px;
                    letter-spacing: -0.7px;
                    color: var(--gray-color);
                }
            }

            .download_con {
                padding: 5px 10px;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                background-color: #dadada;

                .download {
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    font: {
                        size: 12px;
                        weight: 500
                    }

                    line-height: 14px;
                    letter-spacing: -0.6px;
                    color: var(--gray-color);

                    img {
                        width: 18px;
                    }
                }
            }
        }

        .daily_comment {
            .txt {
                font: {
                    size: 14px;
                    weight: 400
                }

                line-height: 25px;
                letter-spacing: -0.6px;
                color: var(--gray-color);
            }
        }

        .more_btn {
            border: 1px solid var(--border-color);
            background-color: var(--border-color);
            color: #000;
        }

        .func_con {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 33px;

            .list {
                img {
                    width: 33px;
                    height: 33px;
                }

                cursor: pointer;
            }
        }
    }


    .like_con {
        .like_label {

            input[type='checkbox'] {

                /* 체크되었을 때 */
                &:checked+.ic_heart {
                    background-image: url('../../assets/images/ico/ico_like_comment_on.png');
                }
            }

            .ic_heart {
                width: 33px;
                height: 33px;
                background: url('../../assets/images/ico/ico_like_comment.png') no-repeat center / cover;
            }

            &:active .ic_heart {}
        }
    }

}

.comment_reply {
    margin-top: 20px;
    padding: 20px 15px;
    border-top: 1px solid var(--border-color);

    .txt {
        font: {
            size: 14px;
            weight: 400
        }

        line-height: 25px;
        letter-spacing: -0.6px;
        color: var(--gray-color);
        text-align: center;
    }


    .reply_con {
        .reply {
            display: flex;
            align-items: start;
            gap: 15px;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            .profile_thumb {
                flex-shrink: 0;

                .thumb_con {
                    width: 54px;
                    height: 54px;

                    .thumb {}
                }
            }

            .txt_con {
                flex: 1;

                .comment_header {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .menu {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .name {
                            font: {
                                size: 16px;
                                weight: 500
                            }

                            letter-spacing: -0.8px;
                            line-height: 22px;

                        }

                        .delete {
                            width: 20px;
                            transform: translateY(-3px);

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .comment_down {}
                }


                .desc {
                    margin-block: 10px 5px;

                    font: {
                        size: 16px;
                        weight: 400
                    }

                    line-height: 18px;
                    letter-spacing: -0.7px;
                }

                .date {
                    font: {
                        size: 12px;
                        weight: 400;
                    }

                    letter-spacing: -0.7px;
                    line-height: 18px;
                    color: var(--gray-color);
                }
            }
        }
    }
}