.rehab {
    .filter {
        padding-top: 30px;
    }

    .search_con {}

    .search_filter {
        margin-bottom: 15px;
    }

    .inner {
        background-color: #fff;
    }
}

.rehab_list {
    .rehab_item {
        border-bottom: 1px solid var(--border-color);

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            border-bottom: 1px solid var(--border-color);
        }

        a.link {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            padding-block: 30px;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 8px;
                height: 17px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: url('../../assets/images/ico/ico_menu_arr.png') no-repeat center / cover;
            }

            .img_con {
                position: relative;
                width: 100px;
                border-radius: 50%;
                overflow: hidden;

                &::before {
                    content: '';
                    display: block;
                    padding-bottom: 100%
                }

                .img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .txt_con {
                .rehab_title {
                    font: {
                        size: 18px;
                        weight: 700;
                    }
                }

                .rehab_price {
                    margin-block: 10px;

                    .t1 {
                        font: {
                            size: 14px;
                            weight: 500;
                        }

                        line-height: 1;
                        color: #9f9f9f;
                    }

                }

                .rehab_info {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .rehab_condition {
                        font: {
                            size: 14px;
                            weight: 700;
                        }

                        color: var(--brown-color);
                    }

                    .delete_btn {
                        .del_img {
                            width: 18px
                        }
                    }
                }
            }
        }

    }
}

.rehab_register {}