.reser_list {
    .filter {
        padding-block: 25px;
    }

    .d-flex {
        .filter_btn {
            width: 34px;

            img {
                width: 100%;
            }
        }
    }
}

.filter_select {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 87px;

    .txt {
        font: {
            size: 16px;
            weight: 500;
        }

        cursor:pointer;
    }

    img {
        width: 13px;
    }

}

.reser_list_con {
    .list {
        display: flex;
        gap: 30px;
        padding-block: 20px;
        border-bottom: 1px solid var(--border-color);

        &:last-child {
            border-bottom: none;
        }

        &:first-child {
            border-bottom: 1px solid var(--border-color);
        }


        .img_con {
            flex-shrink: 0;
            width: 84px;

            .img {
                width: 100%;
            }
        }



        .txt_con {
            flex: 1;

            .link {
                position: relative;
                display: block;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 17px;
                    top: 0;
                    right: 0;
                    background: url('../../assets/images/ico/ico_menu_arr.png') no-repeat center / cover;
                }

                .class_name {
                    display: flex;
                    align-items: center;
                    gap: 10px;


                    .name {
                        font: {
                            size: 20px;
                            weight: 400
                        }
                    }
                }

                .career {
                    margin-block: 10px;

                    font: {
                        size: 14px;
                        weight: 400
                    }

                    color: #9f9f9f;

                    line-height: 18px;
                    letter-spacing: -0.7px;
                }
            }

            .cash_list {
                position: relative;
                display: inline-block;
                z-index: 100;

                font: {
                    size: 14px;
                    weight: 500
                }

                color: var(--brown-color);

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: 0px;
                    background-color: var(--brown-color);
                }
            }
        }
    }
}