<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <title>@@title</title>

  <link rel="stylesheet" href="@@cssPath/bootstrap.min.css" />
  <link rel="stylesheet" href="@@cssPath/style.css?ver=1.1" />
  <script src="@@jsPath/bootstrap.js"></script>

  <!-- plugin -->
  <!-- jqury -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <!--부트스트랩-->
  <script src="@@jsPath/bootstrap.bundle.min.js"></script>
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- plugin -->
</head>

<body>
  <div class="wrapper">
    <div class="ad_con" style="">
      <div class="ad_box">
        <a href="javascript:void(0)" class="link">
          <img src="@@imgPath/img/img_ad_sample.jpg" alt="" class="ad_img">
        </a>
      </div>
      <div class="ad_box mt-30">
        <a href="javascript:void(0)" class="link">
          <img src="@@imgPath/img/img_ad_sample01.jpg" alt="" class="ad_img">
        </a>
      </div>
    </div>