.badge_custom {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font: {
    size: 13px;
    weight: 500;
  }
  &.orange {
    background-color: rgba($color: #ff9636, $alpha: 0.1);
    color: #ff6e30;
  }
  &.green {
    background-color: rgba($color: #27ae60, $alpha: 0.1);
    color: #27ae60;
  }
  &.blue {
    background-color: rgba($color: #21a2ff, $alpha: 0.1);
    color: #21a2ff;
  }
  &.gray {
    background-color: rgba($color: #a2a2a2, $alpha: 0.1);
    color: #a5a5a5;
  }
}
