input {
  &.selectBox {
    position: relative;
    background-image: url("../../assets/images/icon/selectarrow.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 16px center;
  }
}

.form-check {
  // display: flex;
  // align-items: center;
}

.check_con {
  .box {
    display: flex;
    gap: 15px;
  }
}

textarea.text_area {
  min-height: 250px;
}
