.offcanvas {
  height: auto !important;
  &.show:not(.hiding) {
    transform: translate(-50%, 0);
  }
  &.offcanvas-bottom {
    max-width: 1000px;
    width: 100%;
    left: 50%;
    right: initial;
    transform: translate(-50%, 100%);
    border-radius: 16px 16px 0 0;
    .offcanvas-header {
      position: relative;
      padding: 32px 16px 0;
      .btn {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 4px;
        border-radius: 30px;
        background-color: #d9d9d9;
      }
      .offcanvas-title {
        // font: {
        //   size: 1.4px;
        //   weight: 700;
        // }
      }
      .unit {
        font: {
          size: 12px;
          weight: 500;
        }
        color: #a5a5a5;
      }
      .all-check {
        font: {
          size: 14px;
          weight: 400;
        }
        color: var(--success);
        cursor: pointer;
      }
    }

    .offcanvas-body {
      .check_box {
        margin-bottom: 30px;
        .title {
          margin-bottom: 10px;
          font: {
            size: 14px;
            weight: 700;
          }
          .all-check {
            font: {
              size: 14px;
              weight: 400;
            }
            color: var(--success);
            cursor: pointer;
          }
        }
      }

      .check_group {
        flex-wrap: wrap;
        gap: 8px;
        label {
          font: {
            size: 12px;
            weight: 500;
          }
        }
        &.three {
          label {
            width: calc((100% - 16px) / 3);
            padding-block: 16px;
          }
        }
        &.four {
          label {
            width: calc((100% - 24px) / 4);
            padding-block: 16px;
          }
        }
        &.five {
          label {
            width: calc((100% - 32px) / 5);
            padding-block: 16px;
          }
        }
        .btn-check:checked + .btn-outline-light {
          background-color: #222;
        }
      }

      input[type="range"].custom-range {
        width: 100%;
        height: 6px;
        border-radius: 5px;
        border: none;
        outline: none;
      }
    }
  }
}

.membership_sell {
  height: 85vh !important;
  .offcanvas-header {
    border-bottom: 4px solid var(--border);
    .offcanvas-title {
      font: {
        size: 16px;
        weight: 700;
      }
    }
  }

  .offcanvas-body {
    .list_con {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--border);
    }
    .price_card {
      .tit {
        margin-bottom: 8px;
        font: {
          size: 16px;
          weight: 700;
        }
      }

      .bill {
        border-radius: 8px;
        overflow: hidden;
        .bill_list {
          padding: 18px 30px;
          background-color: #f5f5f5;
          .quick_sell {
            margin-bottom: 12px;
            font: {
              size: 16px;
              weight: 700;
            }
          }
          .list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
            &:last-child {
              margin-bottom: 0;
            }
            .t1 {
              font: {
                size: 16px;
                weight: 400;
              }
            }
            .t2 {
              font: {
                size: 16px;
                weight: 400;
              }
            }
          }
        }
        .summation {
          display: flex;
          justify-content: space-between;
          padding: 15px 30px;
          background-color: #222;
          p {
            color: #fff;
          }
          .t1 {
            font: {
              size: 16px;
              weight: 700;
            }
          }
          .t2 {
            position: relative;
            padding-right: 30px;
            font: {
              size: 16px;
              weight: 500;
            }
            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 21px;
              height: 21px;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              background: url("../../assets/images/icon/ico_in.png") no-repeat center / cover;
            }
          }
        }
      }
    }
    .caution_txt {
      font: {
        size: 12px;
        weight: 500;
      }
      color: #a2a2a2;
    }
  }
}

.report_offcanvas {
  .report_con {
    .list {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      .form-check {
        // align-items: start;
      }
    }
  }
}

.canvas_list {
  padding-inline: 16px;
  .list {
    padding-block: 10px;
  }
}

@media (max-width: 992px) {
  .offcanvas {
    &.offcanvas-bottom {
      width: 100%;
      left: 50%;
      transform: translate(-50%, 100%);
    }

    &.showing,
    &.show:not(.hiding) {
      // transform: none;
      transform: translate(-50%, 0%);
    }
  }
}
