.review_con {
  .title_con {
    .t1 {
      font: {
        size: 20px;
        weight: 700;
      }
      span {
      }
    }
    .btn_con {
      display: flex;
      gap: 7px;
      .btn {
        height: auto;
        padding: 5px 7px;
        font: {
          size: 13px;
          weight: 600;
        }
      }
    }
  }

  .review_list {
    .list {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid var(--border);
      .rating_con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 14px;
        .rating {
          position: relative;
          display: flex;
          align-items: center;
          gap: 3px;
          padding-left: 20px;
          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            left: 0;
            top: 40%;
            transform: translateY(-50%);
            background: url("../../assets/images/icon/ico_star_on.png") no-repeat center / cover;
          }
          .avg {
            font: {
              size: 16px;
              weight: 700;
            }
            color: var(--primary);
          }
          .sum {
            font: {
              size: 16px;
              weight: 400;
            }
          }
          span {
          }
        }
      }

      .review_contents {
        .t1 {
          font: {
            size: 16px;
            weight: 400;
          }
          line-height: 24px;
        }
      }

      .writer_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        color: #a2a2a2;
        .writer {
          display: flex;
          align-items: center;
          font: {
            size: 14px;
            weight: 500;
          }
          .name {
          }
          .date {
          }
        }
        .like_con {
          display: flex;
          align-items: center;
          gap: 15px;
          font: {
            size: 14px !important;
            weight: 500;
          }
          .like {
            height: auto;
            background: none;
            text-decoration: none;
            color: #a2a2a2;
            .heart {
              position: relative;
              padding-left: 30px;
              &::before {
                content: "";
                position: absolute;
                display: block;
                width: 27px;
                height: 25px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: url("../../assets/images/icon/ico_like.png") no-repeat center / cover;
              }
            }
            &.active {
              .heart {
                &::before {
                  background: url("../../assets/images/icon/ico_like_on.png") no-repeat center / cover;
                }
              }
            }
          }
        }
      }

      .tag_con {
        margin-top: 15px;
        button {
          &:hover {
            background-color: transparent;
            color: var(--primary);
            cursor: pointer;
          }
        }
      }

      &.detail {
        border: none;
      }
    }
  }
}

.reply_con {
  .tit {
    font: {
      size: 20px;
      weight: 700;
    }
  }

  .reply_box {
    margin-top: 20px;
    .box {
      .name_con {
        margin-bottom: 10px;
        .name {
          font: {
            size: 16px;
            weight: 500;
          }
        }
      }
      .reply {
        font: {
          size: 16px;
          weight: 400;
        }
        line-height: 24px;
      }
      .date_con {
        display: flex;
        align-items: center;
        gap: 20px;
        font: {
          size: 14px;
          weight: 500;
        }
        color: #a2a2a2;
        .date {
        }
        .re_reply {
          height: auto;
          font: {
            size: 14px;
            weight: 500;
          }
          color: #a2a2a2;
        }
      }

      &.border-bottom {
        padding-bottom: 20px;
      }

      &.re {
        position: relative;
        margin-top: 20px;
        padding-left: 20px;
        &::before {
          content: "";
          position: absolute;
          display: block;
          top: 20px;
          left: 5px;
          width: 8px;
          height: 8px;
          background: url("../../assets/images/icon/ico_reply.png") no-repeat center / cover;
        }
      }

      .reply_input {
        display: flex;
        align-items: center;
        gap: 10px;
        // height: 4.6px;
        padding: 7px 12px;
        border-radius: 4px;
        background-color: #efefef;
        .btn_box {
          flex-shrink: 0;
        }
        .reply_register {
          border: none;
          outline: none;
          background: none;
        }
      }
    }
  }
  .fixed_bottom {
    border-top: 1px solid #eaeaea;
    background-color: #fff;
    .input_box {
      display: flex;
      align-items: center;
      // height: 4.6px;
      padding: 7px 12px;
      border-radius: 4px;
      background-color: #efefef;
      .reply_register {
        border: none;
        outline: none;
        background: none;
      }
      .btn {
        flex-shrink: 0;
      }
    }
  }
}
