<footer class="footer">
    <div class="inner">
        <div class="layout">
            <div class="footer_logo">
                <a href="javascript:void(0)" class="link">
                    <img src="@@imgPath/logo/logo_footer.png" alt="싸인체인" class="footer">
                </a>
            </div>

            <ul class="info_con">
                <li class="info">
                    Đại diện: Jang Sang-ki | Mã số doanh nghiệp: 123-12-12345
                </li>
                <li class="info">Địa chỉ: Tầng 8, Phòng 16, Trung tâm Tài chính Quốc tế Busan (BIFC), 40, Đường
                    Munhyeon, Busan</li>
                <li class="info">Điện thoại: 1234-1234 | Hợp tác: ceo@deepbrainlab.co.kr</li>
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright 2025. 싸인체인 INC. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

</html>