<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <title>@@title</title>

  <link rel="stylesheet" href="@@cssPath/bootstrap.min.css" />
  <link rel="stylesheet" href="@@cssPath/style.css" />
  <script src="@@jsPath/bootstrap.js"></script>

  <!-- plugin -->
  <!-- jqury -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!--부트스트랩-->
  <script src="@@jsPath/bootstrap.bundle.min.js"></script>
  <!-- plugin -->
</head>

<body>
  <div class="wrapper">
    <div class="intro_page">
      <div class="full_bg">
        <img src="@@imgPath/img/img_full_bg.jpg" alt="">
      </div>
      <div class="main_wrap">
        <div class="left_wrap">
          asdf
        </div>
        <div class="right_wrap">
          <header class="header_menu">
            asdf
          </header>