<footer class="footer">
    <div class="inner">
        <div class="layout">
            <div class="footer_logo">
                <a href="javascript:void(0)" class="link">
                    <img src="@@imgPath/logo/logo_footer.png" alt="SignChain" class="footer">
                </a>
            </div>

            <ul class="info_con">
                <li class="info">
                    CEO: Jang Sang-ki | Business Registration Number: 123-12-12345
                </li>
                <li class="info">Address: Room 16, 8th Floor, Busan International Finance Center (BIFC), 40 Munhyeon-ro,
                    Busan</li>
                <li class="info">Phone: 1234-1234 | Partnership Inquiries: ceo@deepbrainlab.co.kr</li>
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright 2025. SignChain INC. All rights reserved.</p>
        </div>
    </div>
</footer>

</body>

</html>