.ft_nav {
    position: fixed;
    width: 100%;
    max-width: 580px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-top: 1px solid var(--border-color);
    background-color: #fff;

    .ft_menu {
        display: flex;
        align-items: center;
        height: 88px;

        .menu {
            flex: 1;
            text-align: center;
            opacity: .5;

            .link {
                .img_con {
                    width: 40px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }

                .txt {
                    font: {
                        size: 13px;
                        weight: 500
                    }

                    line-height: 22px;
                    letter-spacing: -0.8px;
                }
            }

            &.on {
                opacity: 1;

                .link {
                    .img_con {
                        img {}
                    }

                    .txt {}
                }
            }
        }
    }
}