.ft_nav {
    position: fixed;
    width: 100%;
    max-width: 580px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-top: 1px solid var(--border-color);
    background-color: #fff;

    .ft_menu {
        display: flex;
        align-items: center;
        height: 88px;

        .menu {
            flex: 1;
            text-align: center;
            opacity: .5;

            .link {
                .img_con {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;

                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    img {
                        width: 100%;
                    }

                    &.home {
                        &::before {
                            background: url('../../assets/images/ico/ico_nav_home.png') no-repeat center/ cover;
                        }
                    }

                    &.reser {
                        &::before {
                            background: url('../../assets/images/ico/ico_nav_reser.png') no-repeat center/ cover;
                        }
                    }

                    &.self_test {
                        &::before {
                            background: url('../../assets/images/ico/ico_nav_self.png') no-repeat center/ cover;
                        }
                    }

                    &.my_info {
                        &::before {
                            background: url('../../assets/images/ico/ico_nav_mypage.png') no-repeat center/ cover;
                        }
                    }
                }

                .tit {
                    font: {
                        size: 13px;
                        weight: 500
                    }

                    line-height: 22px;
                    letter-spacing: -0.8px;
                }
            }

            &.on {
                opacity: 1;

                .link {
                    .img_con {
                        img {}
                    }

                    .txt {}
                }
            }
        }
    }
}