#modal_sm_1 {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .btn {
            width: 120px;
        }
    }
}

#modal_sm_2 {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .form-row {
            display: flex;
            gap: 5px;
            width: 100%;
            padding-inline: 16px;

            .btn {
                flex: 1;
            }

        }
    }
}

#modal_md_1 {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .btn {
            width: 120px;
        }
    }
}

#modal_md_2 {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .form-row {
            display: flex;
            gap: 5px;
            width: 100%;
            padding-inline: 16px;

            .btn {
                flex: 1;
            }

        }
    }
}

#modal-default {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .form-row {
            display: flex;
            gap: 5px;
            width: 100%;
            padding-inline: 16px;

            .btn {
                flex: 1;
            }

        }
    }
}

#modal_bottom {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .form-row {
            display: flex;
            gap: 5px;
            width: 100%;
            padding-inline: 16px;

            .btn {
                flex: 1;
            }

        }
    }
}

#modal_full {
    .modal-body {
        padding-block: 30px;

        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }

        font: {
            size: 16px;
            weight: 600
        }

        letter-spacing: -0.8px;
        line-height: 22px;
        text-align: center;
    }

    .modal-footer {
        padding: 0 0 30px;
        border-top: none;
        justify-content: center;

        .form-row {
            display: flex;
            gap: 5px;
            width: 100%;
            padding-inline: 16px;

            .btn {
                flex: 1;
            }

        }
    }
}

.modal-content {
    .modal-body {
        .img_con {
            position: relative;
            width: 100px;
            margin: 0 auto 20px;

            .img-fluid {
                width: 100%;
            }
        }
    }
}