.pill_con {
    .pill_list {
        display: flex;
        align-items: center;
        gap: 3px;

        .pill_item {
            border-radius: 10px;

            font: {
                size: 14px;
                weight: 400
            }

            cursor: pointer;


            .btn {
                padding: 2px 19px;
                border: 1px solid var(--border-color);

                &.active {
                    color: #fff;
                }
            }
        }
    }
}