.search_con {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 6px 10px;
    transition: border 0.2s ease;

    &:focus-within {
        border: 1px solid #000;
    }

    .search_input {
        flex: auto;
        border: none;

        font: {
            size: 16px;
            weight: 400;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }

    .search_btn {
        width: 24px;
        flex-shrink: 0;
    }
}


.search_filter {
    display: flex;
    align-items: center;
    gap: 10px;

    .filter_item {
        width: calc((100% - 10px) / 4);
        border: 1px solid #eee;
        border-radius: 25px;
        text-align: center;
        padding: 5px 10px;
        cursor: pointer;

        &.on {
            background-color: var(--brown-color);
            color: #fff;
        }
    }
}