.switch_con {
    display: inline-block;
    position: relative;

    .switch_input {
        display: none;

        &:checked {
            &+.switch_label {
                background-color: var(--main-color);

                &::before {
                    left: calc(100% - 23px);
                    background-color: #fff;
                }
            }
        }
    }

    .switch_label {
        position: relative;
        display: block;
        width: 44px;
        height: 19px;
        background-color: #Dadada;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 1px;
            transform: translateY(-50%);
            width: 22px;
            height: 17px;
            background-color: var(--main-color);
            border-radius: 4px;
            transition: left 0.3s ease;
        }
    }
}




.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &.form-switch {
        .form-check-input {
            margin-top: 0;
            background-image: url('../../assets/images/ico/ico_switch_circle.png');
            background-size: 18px;
            background-position: left 3px center;

            &:checked {
                background-color: var(--brown-color);
                border-color: var(--brown-color);
                background-image: url('../../assets/images/ico/ico_switch_white.png');
                background-size: 18px;
                background-position: right 3px center;
            }

            &:focus {
                border-color: var(--brown-color);
                box-shadow: 0 0 0 .25rem rgba($color: var(--brown-color), $alpha: 0.5)
            }
        }

        .form-check-label {
            font: {
                size: 14px;
                weight: 500
            }

            color: var(--gray-color);
        }
    }
}