.inquiry {
    .filter {
        padding-right: 15px;
        text-align: right;
        .btn {
        }
    }
    .list_con {
        .card_con {
            .link {
                .condition {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    .division {
                        padding: 3px 10px;
                        background-color: var(--gray-300);
                        border-radius: 50px;
                        color: var(--gray-500);
                        &.active {
                            background-color: rgba($color: #fe4f2d, $alpha: 0.1);
                            color: var(--point-orange);
                        }
                    }
                    .date {
                        color: var(--gray-500);
                    }
                }
                .tit {
                    font-size: 16px;
                }
            }
        }
    }
}
