.manage_worksalary {
    .nav-tabs {
        margin-top: 30px;
    }
    .hour_rate {
        margin-top: 30px;
    }
    .other_salary {
        margin-top: 50px;
        .input_box {
            margin-top: 15px;
        }
        .add_btn {
            margin-top: 10px;
        }
    }
}
