.manage_workspace {
    .input_group {
        margin-top: 50px;
        .address_detail {
            margin-top: 15px;
        }
    }
    .form-check {
        margin-top: 15px;
        .check_label {
            color: var(--gray-500);
        }
    }
}
