.setting {
    .list {
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 30px;
        .toggleSwitch {
            flex-shrink: 0;
        }
        .btn {
            flex-shrink: 0;
        }
    }
}
