.univ_certificate_step01 {
    .select_btn {
        .box {
            margin-bottom: 10px;
            .right_arr {
                &::after {
                    right: 20px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .btn {
                text-align: left;
            }
        }
    }
}
