.login_logo {
    margin: 70px auto 40px;
    text-align: center;
}

.login_info {
    margin-bottom: 30px;
    .form-control {
        margin-bottom: 10px;
    }
    .id {
    }
    .password {
    }
    .find_password {
        font: {
            size: 1.5rem;
            weight: 400;
        }
        color: var(--gray-400);
        text-align: right;
    }
}

.login_btn {
    margin-bottom: 5rem;
    .btn-main {
        margin-bottom: 15px;
    }
    .t1 {
        text-align: center;
        font: {
            size: 1.5rem;
            weight: 400;
        }
        color: var(--gray-400);
        a {
            display: inline-block;
            padding-left: 1rem;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}

.sns_login {
    .btn {
        position: relative;
    }
    .btn-naver {
        margin-bottom: 0.6rem;
        background-color: #2fad30;
        color: #fff;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            width: 3.3rem;
            height: 3.3rem;
            background: url("../images/logo/logo_naver.png") no-repeat center / cover;
        }
    }
    .btn-kakao {
        background-color: #ffe94b;
        color: #222;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
            width: 3.4rem;
            height: 3.5rem;
            background: url("../images/logo/logo_kakao.png") no-repeat center / cover;
        }
    }
}
