.policy_title {
    margin-bottom: 15px;
    padding-block: 30px 20px;
    border-bottom: 1px solid var(--gray-200);
    font: {
        size: 1.7rem;
        weight: 700;
    }

    .t1 {
        line-height: 2.2rem;
        letter-spacing: -2%;
    }
}
