.soft-primary {
  color: var(--blue-200);
  background-color: #c4d1ff;
}
.soft-secondary {
  color: var(--gray-500);
  background-color: #f3f0ff;
}
.soft-success {
  color: var(--point-green);
  background-color: #c1ffe2;
}
.soft-danger {
  color: var(--point-orange);
  background-color: #ffe7e2;
}
.soft-warning {
  color: var(--point-red);
  background-color: #ffd2d2;
}
.soft-info {
  color: var(--point-color);
  background-color: #d1feff;
}
.soft-light {
  color: var(--gray-400);
  background-color: var(--gray-100);
}
.soft-dark {
  color: var(--blue-000);
  background-color: #d5d5d5;
}
