<footer class="footer">
    <div class="inner">
        <div class="layout">
            <div class="footer_logo">
                <a href="javascript:void(0)" class="link">
                    <img src="@@imgPath/logo/logo_footer.png" alt="싸인체인" class="footer">
                </a>
            </div>

            <ul class="info_con">
                <li class="info">
                    대표 : 장상기 | 사업자등록번호 : 123-12-12345
                </li>
                <li class="info">주소 : 부산광역시 문현금융로 40, 부산국제금융센터(BIFC) 8층, 16호</li>
                <li class="info">대표전화 : 1234-1234 | 제휴문의 : ceo@deepbrainlab.co.kr</li>
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright 2025. 싸인체인 INC. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>

</html>